<% title "#{@agent.default_name} activities" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Agents', zensus_agents_path) %>
  <%= content_tag :li, link_to(@agent.default_name, zensus_agent_path(@agent)) %>
  <%= content_tag :li, 'Activities', class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <% @activities.each do |activity|%>
            <%= link_to activity.inspect, zensus_agent_activity_path(@agent, activity), class: 'text-strong list-group-item' %>
          <% end %>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('plus', text: 'New activity'), new_zensus_agent_activity_path(@agent), class: 'list-group-item' %>
          <%= link_to fa_icon('angle-double-up', text: @agent.default_name), zensus_agent_path(@agent), class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>