<% title "Activities" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Zensus', zensus_path) %>
  <%= content_tag :li, link_to('Events', zensus_events_path) %>
  <%= content_tag :li, link_to(@event.title, zensus_event_path(@event)) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <% @activities.each do |activity|%>
            <%= link_to zensus_event_activity_path(@event, activity), class: 'list-group-item' do %>
              <%= content_tag :span, activity.actable.default_name, class: 'text-strong' %>
              <%= content_tag :span, activity.title, class: 'text-strong' %>
              <%= content_tag :p, activity.description, class: 'text-small; text-muted' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('plus', text: 'New activity'), new_zensus_event_activity_path(@event), class: 'list-group-item' if can?(:create, Zensus::Activity) %>
          <%= link_to fa_icon('angle-double-up', text: @event.title), zensus_event_path(@event), class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>