<% title "#{@activity.title }" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Zensus', zensus_path) %>
  <%= content_tag :li, link_to('Events', zensus_events_path) %>
  <%= content_tag :li, link_to(@event.title, zensus_event_path(@event)) %>
  <%= content_tag :li, link_to('Activities', zensus_event_activities_path(@event)) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <strong><%= @activity.actable.default_name %> <%= @activity.title %></strong>
        <ul>
          <% @activity.event.activities.each do |activity| %>
            <li>
              <%= activity.event_to_actable %> 
              <% if activity.actable.class.name.deconstantize == 'Zensus' %>
                <%= link_to activity.actable.default_name, [:zensus, activity.actable] %>
              <% elsif activity.actable.class.name.deconstantize == 'Vocab' %>
                <%= link_to activity.actable.default_name, [:vocab, activity.actable.scheme, activity.actable] %>
              <% end %><br>
            </li>
          <% end %>
        </ul>
        <%= content_tag :p, @activity.note %>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('edit', text: 'Edit'), edit_zensus_event_activity_path(@event, @activity), class: 'list-group-item' if can?(:update, @activity) %>
          <%= link_to fa_icon('trash', text: 'Delete'), zensus_event_activity_path(@event, @activity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'list-group-item' if can?(:destroy, @activity) %>
          <%= link_to fa_icon('angle-double-up', text: 'Activities'), zensus_event_activities_path(@event), class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>