<% title "Vocabularies" %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 col-centered">
        <div class="page-header text-center borderless">
          <h2>Babylonian confusion ::vocabularies</h2>
          <p class="text-muted lead">
            Having 100 years of research history means having multiple naming conventions. Vocabularies shall 
            assist each researcher or team with an idea of a common wording and term translations as well as giving 
            anyone the possibility to name things in a heterogenus way, while still acting with a common idea.
          </p>
        </div>
        <div class="vocab-search --spacing-20">
          <%= form_tag vocab_search_path, method: :get, class: "" do %>
            <%= search_field_tag 'q', params[:q], placeholder: "Search in all concepts ...", class: "form-control", autofocus: true %>
          <% end %>
        </div>
        <div class="row schemes --spacious">
          <div class="col-md-12">
            <%= render @schemes.order(created_at: :desc), namespace: true %>
          </div>
          <div class="col-md-12 --spacious">
            <%= content_tag :p, 'You can simply add a new vocabulary scheme through your profile or team page.', class: 'text-muted text-small'%>
            <%= content_tag :p, 'Complies to ISO 25964.', class: 'text-muted text-small'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>