<% title "Results" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <% @results.each do |result|%>
            <%= result.inspect%>
          <% end %>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= render 'zensus/search/box' %>
          <%= link_to fa_icon('angle-double-right', text: 'Agents'), zensus_agents_path, class: 'list-group-item' %>
          <%= link_to fa_icon('angle-double-right', text: 'Events'), zensus_agents_path, class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>