<div class="media" id="full-discussion-event-<%= reference.created_at %>" style="overflow: visible;">
  <div class="media-left">
    <div style="width: 50px;", class: 'placeholder'></div>
  </div>
  <div class="media-body-event" id="discussion-event-<%= reference.created_at %>">
    <%= fa_stacked_icon('tag', base: "circle-o", class: 'icon-pre') %>
    <div class="event">
      <%= link_to background_image_div(reference.referencor, :small_thumb, {class: 'author-avatar'}), reference.referencor.namespace %>
      <%= link_to reference.referencor.name, reference.referencor.namespace, class: 'author hovercard', data: {toggle: 'popover', content: render('people/hovercard', person: reference.referencor)} %>
      referenced <%= link_to reference.referenceable.name, reference.url %>
      <%= content_tag :span, "#{distance_of_time_in_words(reference.created_at, Time.now)} ago", title: reference.created_at, class: 'date' %>
    </div>
  </div>
</div>