<div class="thread-element" id="full-discussion-event-<%= reference.created_at %>">
  <div class="event-left">
  </div>
  <div class="event-body" id="discussion-event-<%= reference.created_at %>">
    <%= fa_stacked_icon('tag', base: "circle-o", class: 'icon-pre') %>
    <div class="event">
      <%= link_to background_image_div(reference.referencor, :small_thumb, {class: 'author-avatar'}), reference.referencor.namespace %>
      <%= link_to reference.referencor.name, reference.referencor.namespace, class: 'author hovercard', data: {toggle: 'popover', content: render('people/hovercard', person: reference.referencor)} %>
      referenced <%= link_to reference.referenceable.name, reference.referenceable_url %>
      <%= "in #{link_to(reference.referencing.thread.name, reference.referencing_url)}".html_safe if reference.referenceable_type == 'Discussion::Thread' && @thread != reference.referencing.thread %>
      <%= content_tag :span, "#{distance_of_time_in_words(reference.created_at, Time.now)} ago", title: reference.created_at, class: 'date' %>
    </div>
  </div>
</div>