<div style="padding-left:<%= depth*10 %>px;">
    <% values.each do |k,v| %>
      <%= content_tag :span, "#{k.humanize}: ".html_safe, class: 'text-strong' if v.present? %>
      <% if v.is_a?(String) || v.is_a?(Integer) %>
        <%= simple_format(v.to_s) if v.present? %>
      <% elsif v.is_a?(Array) %>
        <%= render partial: 'aggregation/items/item_hash', collection: v, as: :values, locals: {depth: depth+1} %>
      <% else %>
        <%= render partial: 'aggregation/items/item_hash', locals: {values: v, depth: depth+1} %>
      <% end %>
    <% end if values %>
</div>
