<div id="datasets">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <%= content_tag :li, link_to(fa_icon('object-ungroup', text: pluralize(@items.size, 'dataset')), '') %>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <%= link_to fa_icon('upload', text: 'Import data'), new_namespace_repository_aggregation_event_upload_path(@namespace, @repository), title: "Import datasets from a file.", class: 'btn btn-default btn-sm text-strong navbar-btn', style: 'margin-right: 15px;margin-left: 15px;' %>
      </div>
    </div>
  </nav>

  <%= content_tag :div, class: '--spacious --spacing' do %>
    <h4>Pending commits</h4>
    <%= render partial: 'aggregation/events/event', collection: @repository.events.pending %>
  <% end if @repository.events.pending.any? %>

  <div class="text-small" style="border: 1px solid #ddd;padding:10px;background-color: #f8f8f8;border-bottom:none;">
    <div style="display:inline;">
      <%= link_to (background_image_div(@repository.events.commited.last.creator, :small_thumb, {class: 'site-user-avatar'})), @repository.events.commited.last.creator.namespace if @repository.events.commited.any? %>
      <%= link_to @repository.events.commited.last.creator.name, @repository.events.commited.last.creator.namespace, class: 'text-strong' if @repository.events.commited.any? %>
      <%= content_tag :span, "#{link_to @repository.events.commited.last.note, namespace_repository_aggregation_event_path(@namespace, @repository, @repository.events.commited.last)}".html_safe if @repository.events.commited.any? %>
    </div>
    <% if @repository.events.any? %>
      <%= content_tag :span, "Last data event #{link_to @repository.events.last.created_at, [@namespace, @repository, :aggregation, :events]}".html_safe, class: 'pull-right' %>
    <% else %>
      <%= content_tag :span, link_to('Pending commits', [@namespace, @repository, :aggregation, :events]), class: 'pull-right' %>
    <% end %>
  </div>
  <table class="table table-simple">
    <tbody>
      <%= render @items %>
    </tbody>
  </table>
  
</div>