<div class="row">
  <div class="col-md-12">
    <%= content_tag :h4, class: 'h-condensed --spacing-20 --spacious-20' do %>
      <%= link_to @repository.name, [@namespace, @repository], class: '' %> 
      <%= content_tag :span, '/ ', class: 'text-gray' %>
      <%= content_tag :span, @item.name, class: '' %>
    <% end %>
    <ul class="list-unstyled">
      <li>Id: <%= link_to @item.identifier.origin_id, @item.identifier %></li>
      <li>Label/Type: <%= @item.identifier.origin_type %></li>
      <li>Originator: <%= @item.identifier.origin_agent_id %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  <table class="table table-striped">
    <tbody>
      <%= render partial: 'aggregation/items/item_hash', locals: {values: @item.commits.last.data['payload'], depth: 0} %>
    </tbody>
  </table>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="row">
      <%= render partial: 'aggregation/commits/commit', collection: @item.commits.order(created_at: :desc), locals: {view: 'item'} %>
  </div>
</div>