<div class="row --spacing">
  <div class="col-md-4">
    <div class="topics --spacing-20" id="info-for-<%= @repository.id %>">
      <% if @repository.topics.any? %>
        <div id="topics_for_<%= @repository.id %>" style="display:inline;">
          <%= render partial: 'repo/topics/topic', collection: @repository.topic_list, as: :topic %>
        </div>
        <%= link_to 'Manage topics', edit_namespace_repository_settings_topics_path(@namespace, @repository), remote: true, class: 'text-small' if can?(:edit_topic, @repository) %>
      <% elsif can?(:edit, @repository) %>
        <%= link_to 'Add topics', edit_namespace_repository_settings_topics_path(@namespace, @repository), remote: true, class: 'text-small' %>
      <% end %>
    </div>
    <%= content_tag :div, class: 'hidden', id: "edit_repository_topics_#{@repository.id}" do %>
      <%= render 'repo/settings/topics/form' if can?(:edit_topic, @repository) %>
    <% end %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @namespace, @repository], remote: true, id: 'repo-edit-info-button', class: 'btn btn-sm btn-default text-strong pull-right' if can?(:edit, @repository) %>
    <div id="repo-info-section">
      <%= render 'repo_info_section', repository: @repository %>
    </div>
    <%= simple_form_for [@namespace, @repository], method: :put, remote: true, html: {class: 'hidden', id: "edit_repository_#{@repository.id}"} do |f| %>
      <%= f.input :description %>
      <%= f.submit 'Done', class: 'btn btn-default text-strong' %>
    <% end if can?(:edit, @repository) %>

  </div>
</div>




