<div class="row">
  <div class="col-md-4">
    <div class="topics --spacing-20" id="info-for-<%= @repository.id %>">
      <% if @repository.topics.any? %>
        <div id="topics_for_<%= @repository.id %>" style="display:inline;">
          <%= render 'topic_list_labels', repository: @repository %>
        </div>
        <%= link_to 'Manage topics', edit_topics_namespace_repository_path(@namespace, @repository), remote: true, class: 'text-small' if can?(:edit, @repository) %>
      <% elsif can?(:edit, @repository) %>
        <%= link_to 'Add topics', edit_topics_namespace_repository_path(@namespace, @repository), remote: true, class: 'text-small' %>
      <% end %>
    </div>

    <%= simple_form_for [:update_topics, @namespace, @repository], method: :put, remote: true, html: {class: 'hidden', id: "edit_repository_topics_#{@repository.id}"} do |f| %>
      <%= render 'topics_field', f: f %>
      <%= f.submit 'Done', class: 'btn btn-default text-strong' %>
    <% end if can?(:edit, @repository) %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @namespace, @repository], remote: true, id: 'repo-edit-info-button', class: 'btn btn-sm btn-default text-strong pull-right' if can?(:edit, @repository) %>
    <div id="repo-info-section">
      <%= render 'repo_info_section', repository: @repository %>
    </div>
    <%= simple_form_for [@namespace, @repository], method: :put, remote: true, html: {class: 'hidden --spacing', id: "edit_repository_#{@repository.id}"} do |f| %>
      <%= f.input :description %>
      <strong>Readme</strong>
      <div class="readme-field">
        <%= f.input :readme, as: :hidden %>
        <trix-editor input="repository_readme">
      </div>
      <%= f.submit 'Done', class: 'btn btn-default text-strong --spacious-10' %>
    <% end if can?(:edit, @repository) %>

  </div>
</div>




