<%= simple_form_for @blog, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.hidden_field :type, value: @type %>

  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
  
      <div class="row">
        <%= content_tag :div, class: "col-md-12" do %>

          <div class="form-inputs">
            <%= f.input :author_id, 
              collection: User.all, 
              label_method: :name, 
              value_method: :id %>
            <%= f.input :title %>
            <%= f.input :abstract, input_html: { rows: 3 } %>
            <%= f.input :content, input_html: {id: 'blog_content', class: '', rows: '14', data: {provide: "markdown"}} %>
            <%= f.input :external_link %>
            <%= content_tag :div, class: "form-group" do %>
              <%= f.label :posted_at, class: 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.input :posted_at, as: :date, html5: true, label: false, input_html: {style: 'margin-left: 15px; max-width:90%;'} %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <hr>
          <%= f.button :submit, class: "btn btn-primary" %>
          <%= link_to 'Cancel', @blog.new_record? ? sti_blog_path(@type) : @blog, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
