<% title "#{@type.pluralize.humanize}", false %>
<% content_for(:breadcrumbs) do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, @type.pluralize.humanize, class: 'active' %>
<% end %>

<% content_for :sidebar do %>

  <%= content_tag :div, class: '', style: 'margin-bottom: 20px;' do %>
    <div class="">
      <%= link_to fa_icon("plus", text: @type != 'Novelity' ? "New #{@type.humanize}" : 'Add News'), sti_blog_path(@type, nil, :new), class: 'btn btn-success' if @type != 'Blog' %>
    </div>
  <% end if can? :create, @type.constantize %>
  
<% end %>

<%= content_tag :div, class: "page-header text-center" do %>
  <h1 class=""><%= @type != 'Novelity' ? @type.pluralize.humanize : 'News' %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-10 col-centered">
    <% if @type == 'Novelity' %>
      <% @blog_years.each do |year, blogs| %>
        <h2><%= year %></h2>  
        <table class="table table-bordered table-responsive">
          <% blogs.each do |blog| %>
            <tr>
              <td>
                <%= link_to blog.external_link, target: :_blank do %>
                  <small><%= blog.external_link %></small><br>
                  <%= blog.title %>
                  <%= content_tag :small, markdown(blog.abstract) if blog.abstract %>
                  <%= link_to fa_icon("remove"), blog, method: :delete, data: { confirm: 'Remove this item. Are you sure?' }, class: 'pull-right' if can? :destroy, blog %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% else %>
      <% @blogs.order(position: :asc).each do |blog| %>
        <div class="panel panel-default <%= blog.type.downcase %>-entry" id="<%= blog.type.downcase %>-<%= blog.id %>">
          <div class="panel-body">
            <h4>
              <%= link_to blog.title, blog %>
              <%= content_tag :div, class: 'pull-right' do %>
                <%= link_to fa_icon("edit"), sti_blog_path(blog.type, blog, :edit), data: {toggle: "tooltip", placement: "left"}, title: 'Edit' %>
                <% if blog.in_list? %>
                  <%= link_to fa_icon('angle-double-up'), sti_blog_path(blog.type, blog, :move, method: 'move_to_top'), method: :put, data: {toggle: "tooltip", placement: "bottom"}, title: 'Move to top' unless blog.first? %>
                  <%= link_to fa_icon('angle-up'), sti_blog_path(blog.type, blog, :move, method: 'move_higher'), method: :put, data: {toggle: "tooltip", placement: "top"}, title: 'Move up' unless blog.first? %>
                  <%= link_to fa_icon('angle-down'), sti_blog_path(blog.type, blog, :move, method: 'move_lower'), method: :put, data: {toggle: "tooltip", placement: "bottom"}, title: 'Move down' unless blog.last? %>
                  <%= link_to fa_icon('angle-double-down'), sti_blog_path(blog.type, blog, :move, method: 'move_to_bottom'), method: :put, data: {toggle: "tooltip", placement: "right"}, title: 'Move to bottom' unless blog.last? %>
                <% elsif blog.not_in_list? %>
                  <%= link_to fa_icon('angle-right'), sti_blog_path(blog.type, blog, :move, method: 'insert'), method: :put, data: {toggle: "tooltip", placement: "right"}, title: 'Insert to list' %>
                <% end %>
              <% end if can? :update, blog %>
            </h4>
            <%= content_tag :p, class: 'text-muted' do %>
              posted 
              <%= "by #{blog.author.try(:name)}" if blog.type == 'Post' %> 
              <%= "on #{blog.posted_at.to_date.to_formatted_s(:long_ordinal)}" %>
            <% end %>
            <%= content_tag :div, class: "#{blog.type.downcase}-content", id: "#{blog.type.downcase}-content-#{blog.id}" do %>
              <%= truncate(teaser(blog.abstract ? blog.abstract : blog.content), length: 500, separator: ' ', escape: false) { link_to " continue reading", blog } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
