<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-centered">
      <%= content_tag :div, class: "page-header" do %>
        <h1 class="">
          <%= @type != 'Novelity' ? @type.humanize : 'News' %>
          <%= content_tag :div, class: "pull-right" do %>
            <%= link_to fa_icon("plus", text: @type != 'Novelity' ? "New #{@type.humanize}" : 'Add News'), sti_blog_path(@type, nil, :new), class: 'btn btn-default' if @type != 'Blog' %>
          <% end if can? :create, @type.constantize %>
        </h1>
      <% end %>
      <%= render "shared/notification" if alert || notice %>
      <% if @type == 'Novelity' %>
      
        <% @blog_years.each do |year, blogs| %>
          <h2><%= year %></h2>  
          <table class="table table-bordered table-responsive">
            <% blogs.each do |blog| %>
              <tr>
                <td>
                  <%= link_to blog.external_link, target: :_blank do %>
                    <small><%= blog.external_link %></small><br>
                    <%= blog.title %>
                    <%= content_tag :small, markdown(blog.content) if blog.content %>
                    <%= link_to fa_icon("remove"), blog, method: :delete, data: { confirm: 'Remove this item. Are you sure?' }, class: 'pull-right' if can? :destroy, blog %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% else %>
        <% @blogs.each do |blog| %>
          <div class="well <%= blog.type.downcase %>-entry" id="<%= blog.type.downcase %>-<%= blog.id %>">
            <h4>
              <%= link_to blog.title, blog %> 
              <%= link_to fa_icon("edit"), sti_blog_path(blog.type, blog, :edit), class: 'pull-right' if can? :update, blog %>
            </h4>
            <%= content_tag :p, "written by #{blog.author.try(:display_name)} on #{blog.posted_at}", class: 'text-muted' %>
            <%= content_tag :div, class: "#{blog.type.downcase}-content", id: "#{blog.type.downcase}-content-#{blog.id}" do %>
              <%= truncate(markdown(blog.content), length: 500, separator: ' ', escape: false) { link_to " continue reading", blog } %>
            <% end %>
            <%= content_tag :p, link_to(blog.external_link, blog.external_link, target: :_blank), style: 'margin-top:20px;' if blog.external_link %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>