<% title "#{@blog.type.humanize}: #{@blog.title}", false %>
<% content_for(:breadcrumbs) do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, link_to(@blog.type.pluralize, sti_blog_path(@type)) %>
  <%= content_tag :li, @blog.title, class: 'active' %>
<% end %>

<% content_for :sidebar do %>

  <%= content_tag :div, class: '', style: 'margin-bottom: 20px;' do %>
    <div class="">
      <%= link_to fa_icon('edit', text: 'Edit'), sti_blog_path(@blog.type, @blog, :edit), class: 'btn btn-warning' if can? :edit, @blog %>
      <%= link_to fa_icon("remove", text: 'Delete'), @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, @blog %>
    </div>
  <% end if can?(:edit, @blog) || can?(:destroy, @blog) %>

  <%= content_tag :p do %>
    <strong>External link:</strong>
    <%= link_to @blog.external_link, @blog.external_link, target: :_blank %>
  <% end if @blog.external_link.present? %>

  <%= content_tag :div, class: "toc panel panel-default", data: { spy: "affix", 'offset-top': "0", 'offset-bottom': "100" } do %>
    <div class="panel-heading">
      <h4>Content</h4>
    </div>
    <div class="panel-body">
      <%= toc(@blog.content) %>
    </div>
  <% end if toc(@blog.content).present? %>
<% end %>


  <%= content_tag :div, class: "page-header text-center" do %>
    <h1 class=""><%= @blog.title %></h1>
    <%= content_tag :p, class: 'text-muted' do %>
      posted on <%= "#{@blog.posted_at.to_date.to_formatted_s(:long_ordinal)}" %>
      <%= "<br>by #{link_to @blog.author.try(:name), @blog.author.profile}".html_safe if @blog.type == 'Post' %> 
    <% end %>
  <% end %>


<div class="row">
  <div class="<%= @blog.type.downcase %>-content col-sm-12 col-md-10 col-centered" id="<%= @blog.type.downcase %>-content-<%= @blog.id %>">
    <%= content_tag :p, @blog.abstract, class: 'lead' if @blog.abstract %>
    <%= markdown @blog.content %>
  </div>
</div>



