<% title "Account settings", false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="subhead">
      <h4>Change password</h4>
    </div>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

    <div class="subhead --spacious">
      <h4>Change email or username</h4>
    </div>
    <%= f.input :email, required: true %>
    <%= f.input :username, required: true %>

    <br><br>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn btn-primary text-strong' %>
  </div>
<% end %>

<div class="subhead --spacious">
  <h4>Delete account</h4>
</div>
<p>Once you delete your account, there is no going back. Please be certain.</p>
<%= link_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger text-strong' %>