<% content_for :container do %>
  <div class="row --spacious">
    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading text-strong">Sign up</div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :slug, label: 'Namespace', required: true,
                hint: "This will be the namespace-url for your profile aka your username. It must be unique, only allows downcased letters, numbers and '-'. The first character needs to be a letter and it should be at least 3 chars long." %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
            <hr>
            <div class="form-actions">
              <%= content_tag :div, flash[:recaptcha_error], class: 'alert alert-danger' if flash[:recaptcha_error] %>
              <%= recaptcha_tags %>
              <%= f.button :submit, "Sign up", style: 'margin-top: 20px;' %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
