<table class="table table-bordered table-striped">
  <tbody>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Title' %>
      <%= content_tag :td, in_collection.title %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Author'.pluralize(in_collection.creators.count) %>
      <%= content_tag :td, in_collection.creators_name_list.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ').html_safe %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Pages' %>
      <%= content_tag :td, in_collection.pages %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Collection' %>
      <%= content_tag :td, in_collection.parent.title %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Editor'.pluralize(in_collection.parent.creators.count) %>
      <%= content_tag :td, in_collection.parent.creators_name_list.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ').html_safe %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Place/Publisher/Year' %>
      <%= content_tag :td do %>
        <%= content_tag(:span, in_collection.places.map{ |p| p.place ? link_to(p.given, p.try(:place)) : p.given }.join(', ').html_safe) %>
        <%= content_tag(:span, in_collection.publisher) %>
        <%= content_tag(:span, in_collection.year) %>
        <%= content_tag(:span, in_collection.month) %>
      <% end %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Organization' %>
      <%= content_tag :td, in_collection.organization %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Serie' %>
      <%= content_tag :td do %>
        <%= content_tag(:span, in_collection.serie.try(:title)) %>
        <%= content_tag(:span, in_collection.volume) %>
      <% end %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Tags' %>
      <%= content_tag :td, in_collection.tag_list.map{|tag| content_tag(:span, tag, class: 'label label-default')}.join(' ').html_safe %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Url' %>
      <%= content_tag :td, in_collection.url %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'DOI' %>
      <%= content_tag :td, 'https://doi.org/' + in_collection.doi %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Note' %>
      <%= content_tag :td, in_collection.note %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Abstract' %>
      <%= content_tag :td, in_collection.abstract %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, 'Contents' %>
      <%= content_tag :td, pluralize(in_collection.children.count, 'Record') %>
    <% end %>
  </tbody>
</table>

<%= render in_collection.children %>