<% title(@person.name, false) %>

<% content_for :container do %>
  <div class="wrapper people">
    <div class="row --spacious">
      <div class="col-md-4">
        <div class=''>
          <%= background_image_div(@person, 'false', {class: '', style: 'height:200px;width:100%;'}) %>
          <%= background_image_div(@person, :thumb, {class: 'img-responsive img-circle', style: 'width:140px; height:140px;border: solid white 2px; margin: -70px auto 0 20px;'}) %>
          <div style="" class="row">
          <div class="col-md-11">
            <h4 style="margin-top:20px;margin-bottom:20px;">
              <%= @person.name %>
              <%= content_tag :span, fa_icon('unlock-alt'), data: {toggle: "tooltip", placement: "right"}, title: "Administrator" if @person.is_admin? %><br>
              <%= content_tag :span, @person.namespace.slug, class: 'text-muted' %>
              <%= content_tag :span, 'Inactive', class: 'text-italic text-strong text-gray' if !@person.user %>
            </h4>
            <%= content_tag :p, link_to("Zensus agent for #{@person.name}", zensus_agent_path(@person.agent), class: 'text-gray') if @person.agent %>
            <%= content_tag :p, @person.about_me, style: 'margin-bottom:20px;' if @person.about_me.present? %>
            <%= link_to fa_icon('edit', text: 'Edit your profile'), edit_settings_person_path, class: 'btn btn-sm btn-default text-strong' if @person.is?(current_person) %>
          </div>
          </div>
        </div>
        <hr>
        <div class="row --spacing">
          <div class="col-md-8 person-organizations">
            <h4>
              Organizations
            </h4>
            <% @person.organizations.each do |org| %>
              <%= link_to(background_image_div(org, :small_thumb, {class: 'organization-member-avatar'}), org.namespace, title: org.name, data: {toggle: "tooltip", placement: "bottom"}) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <%= content_tag :li, link_to(fa_icon('file', text: 'Insight'), '#insight', aria: {controls: 'insight'}, data: {toggle: 'tab'}, role: 'tab'), class: 'active', role: 'presentation' %>
          <%= content_tag :li, link_to(fa_icon('archive', text: 'Personal repositories'), '#repos', aria: {controls: 'repos'}, data: {toggle: 'tab'}, role: 'tab'), class: '', role: 'presentation' %>
          <%= content_tag :li, link_to(fa_icon('sitemap', text: 'Vocabularies'), '#vocabs', aria: {controls: 'vocabs'}, data: {toggle: 'tab'}, role: 'tab'), class: '', role: 'presentation' %>
          <%= content_tag :li, link_to(fa_icon('code-fork', text: 'Applications'), '#apps', aria: {controls: 'apps'}, data: {toggle: 'tab'}, role: 'tab'), class: '', role: 'presentation' %>
          <%= content_tag :li, link_to(fa_icon('list', text: 'Lists'), '#lists', aria: {controls: 'lists'}, data: {toggle: 'tab'}, role: 'tab'), class: '', role: 'presentation' %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="insight">
            <%= content_tag :div, id: 'postingsBy', class: '--spacing' do %>
              <h4 class="subhead --spacious-20">Most recently updated documents <%= content_tag :span, "#{@person.documents.count > 2 ? '3' : @person.documents.count} / #{@person.documents.count}", class: 'badge' %></h4>
              <table class="table table-simple">
                <tbody>
                  <%= render @person.documents.order(updated_at: :desc).limit(3), style: 'table', name_tree: true %>
                </tbody>
              </table>
            <% end %>

            <%= content_tag :div, id: 'reposBy', class: '--spacing' do %>
              <h4 class="subhead --spacious-20">Recently updated repositories <%= content_tag :span, "#{@person.all_repos.count > 2 ? '3' : @person.all_repos.count} / #{@person.all_repos.count}", class: 'badge' %></h4>
              <table class="table table-simple">
                <tbody>
                  <%= render @person.all_repos.sort_by(&:updated_at).reverse.take(3), namespace: true %>
                </tbody>
              </table>
            <% end %>

            <%= content_tag :div, id: 'literatureBy' do %>
              <h4 class="subhead --spacious-20">Literature by <%= @person.name %> on babylon-online</h4>
              <table class="table table-simple">
                <tbody>
                  <%= render @person.agent.bibliographic_creations, actions: true %>
                </tbody>
              </table>
            <% end if @person.agent %>
          </div>
          <div role="tabpanel" class="tab-pane" id="repos">
            <div class="row --spacious-20 repos">
              <div class="col-md-12">
                <% if @person.namespace.repositories.any? %>
                  <%= render @person.namespace.repositories %>
                <% else %>
                  <%= content_tag :p, 'Nothing here', class: 'text-muted text-italic' %>
                <% end %>
                <%= link_to 'Get an overview.', repositories_path, class: 'text-small' %>
                <%= link_to fa_icon('plus', text: 'Repository'), new_namespace_repository_path(@person.namespace), class: 'pull-right btn btn-sm btn-default text-strong' if can?(:create, @person.namespace.repositories.build) %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="vocabs">
            <div class="list-group --spacious-20">
              <% if @person.namespace.schemes.any? %>
                <%= render @person.namespace.schemes %>
              <% else %>
                <%= content_tag :p, 'Nothing here', class: 'text-muted text-italic' %>
              <% end %>
              <div class="actions" style="margin-top:5px;">
                <%= link_to 'Get an overview.', vocab_path, class: 'text-small' %>
                <%= link_to fa_icon('plus', text: 'Vocabulary scheme'), new_namespace_vocab_scheme_path(@person.namespace), class: 'pull-right btn btn-sm btn-default text-strong' if can?(:create, @person.namespace.schemes.build) %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="apps">
            <div class="--spacious-20">
              <% if @person.oauth_applications.any? %>
                <% @person.oauth_grants.each do |grant| %>
                  <%= render grant.application %>
                  <%= render partial: 'oauth_accessibilities/grant_panel', locals: {grant: grant} %>
                <% end %>
              <% else %>
                <p class="text-muted">
                  none assigned
                </p>
              <% end %>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="lists">
            Lists
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>