<% title(@person.name, false) %>

<% content_for :container do %>
  <div class="wrapper people">
    <div class="row --spacious">
      <div class="col-md-4">
        <div class=''>
          <%= background_image_div(@person, 'false', {class: '', style: 'height:200px;width:100%;'}) %>
          <%= background_image_div(@person, :thumb, {class: 'img-responsive img-circle', style: 'width:140px; height:140px;border: solid white 2px; margin: -70px auto 0 20px;'}) %>
          <div style="" class="row">
          <div class="col-md-11">
            <h4 style="margin-top:20px;margin-bottom:20px;">
              <%= @person.name %>
              <%= content_tag :span, fa_icon('unlock-alt'), data: {toggle: "tooltip", placement: "right"}, title: "Administrator" if @person.is_admin? %><br>
              <%= content_tag :span, @person.namespace.slug, class: 'text-muted' %>
              <%= content_tag :span, 'Inactive', class: 'text-italic text-strong text-gray' if !@person.user %>
            </h4>
            <%= content_tag :ul, class: 'list-unstyled' do %>
              <%= content_tag :li, fa_icon('map-marker', text: @person.location) if @person.location.present? %>
              <%= content_tag :li, fa_icon('university', text: @person.institution) if @person.institution.present? %>
              <%= content_tag :li, fa_icon('link', text: link_to(@person.url, @person.url)) if @person.url.present? %>
            <% end %>
            <%= content_tag :p, @person.about_me, style: 'margin-top:20px;margin-bottom:20px;' if @person.about_me.present? %>
            <%= link_to fa_icon('edit', text: 'Edit your profile'), edit_settings_person_path, class: 'btn btn-sm btn-default text-strong' if @person.is?(current_person) %>
          </div>
          </div>
        </div>
        <hr>
        <div class="row --spacing">
          <div class="col-md-8 person-organizations">
            <h4>
              Organizations
            </h4>
            <% @person.organizations.each do |org| %>
              <%= link_to(background_image_div(org, :small_thumb, {class: 'organization-member-avatar'}), org.namespace, title: org.name, data: {toggle: "tooltip", placement: "bottom"}) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
          <li role="presentation"><a href="#repos" aria-controls="repos" role="tab" data-toggle="tab">Repositories</a></li>
          <li role="presentation"><a href="#vocabs" aria-controls="vocabs" role="tab" data-toggle="tab">Vocabularies</a></li>
          <li role="presentation"><a href="#apps" aria-controls="apps" role="tab" data-toggle="tab">Applications</a></li>
          <li role="presentation"><a href="#lists" aria-controls="lists" role="tab" data-toggle="tab">Lists</a></li>
          <li role="presentation"><a href="#publs" aria-controls="publs" role="tab" data-toggle="tab">Publications</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="overview">
            <h3>
              Recently added posts
              <%= content_tag :span, @person.blog_pages.published.count, class: 'badge' %>
            </h3>
            <ul class="list-unstyled">
              <% @person.blog_pages.published.order(published_at: :desc).limit(5).each do |blog| %>
                <%= content_tag :li, class: '--spacing-20' do %>
                  <%= content_tag :h4, link_to(blog.title, blog), class: 'h-condensed' %>
                  <%= content_tag :p, fa_icon('calendar', text: blog.published_at.to_date.to_formatted_s(:long_ordinal)), class: 'text-muted' %>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="repos">
            <div class="row --spacious-20 repos">
              <div class="col-md-12">
                <% if @person.namespace.repositories.any? %>
                  <%= render @person.namespace.repositories %>
                <% else %>
                  <%= content_tag :p, 'Nothing here', class: 'text-muted text-italic' %>
                <% end %>
                <%= link_to 'Get an overview.', repositories_path, class: 'text-small' %>
                <%= link_to fa_icon('plus', text: 'Repository'), new_namespace_repository_path(@person.namespace), class: 'pull-right btn btn-sm btn-default text-strong' if can?(:create, @person.namespace.repositories.build) %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="vocabs">
            <div class="list-group --spacious-20">
              <% if @person.namespace.schemes.any? %>
                <%= render @person.namespace.schemes %>
              <% else %>
                <%= content_tag :p, 'Nothing here', class: 'text-muted text-italic' %>
              <% end %>
              <div class="actions" style="margin-top:5px;">
                <%= link_to 'Get an overview.', vocab_path, class: 'text-small' %>
                <%= link_to fa_icon('plus', text: 'Vocabulary scheme'), new_namespace_vocab_scheme_path(@person.namespace), class: 'pull-right btn btn-sm btn-default text-strong' if can?(:create, @person.namespace.schemes.build) %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="apps">
            <% if @person.oauth_applications.any? %>
              <% @person.oauth_grants.each do |grant| %>
                <%= render grant.application %>
                <%= render partial: 'oauth_accessibilities/grant_panel', locals: {grant: grant} %>
              <% end %>
            <% else %>
              <p class="text-muted">
                none assigned
              </p>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="lists">
            Lists
          </div>
          <div role="tabpanel" class="tab-pane" id="publs">
            Publications
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>