<%= content_tag :div, class: "row hidden-xs hidden-sm" do %>
  <div class="col-md-8">
    <%= render 'biblio/referencations/add_entry', namespace: @namespace, repository: @repository %>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <%= link_to '', class: 'btn btn-default btn-sm text-strong dropdown-toggle', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
        <%= fa_icon('download', text: 'Export') %> <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'BibTEX', [@namespace, @repository, :biblio, :references, format: 'bibtex', q: params[:q], sorted_by: params[:sorted_by] ] %></li>
        <li><%= link_to 'JSON', [@namespace, @repository, :biblio, :references, format: 'json', q: params[:q], sorted_by: params[:sorted_by] ] %></li>
      </ul>
    </div>
    <%= content_tag :div, class: "btn-group pull-right" do %>
      <button type="button" class="btn btn-default dropdown-toggle text-strong" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon('plus', text: "Create") %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <%= content_tag :li, link_to('Article', new_biblio_article_path(repo_id: @repository.id)), title: Biblio::Article::DESCRIPTION %>
        <%= content_tag :li, link_to('Booklet', new_biblio_booklet_path(repo_id: @repository.id)), title: Biblio::Booklet::DESCRIPTION %>
        <%= content_tag :li, link_to('InBook', new_biblio_in_book_path(repo_id: @repository.id)), title: Biblio::InBook::DESCRIPTION %>
        <%= content_tag :li, link_to('InCollection', new_biblio_in_collection_path(repo_id: @repository.id)), title: Biblio::InCollection::DESCRIPTION %>
        <%= content_tag :li, link_to('InProceeding', new_biblio_in_proceeding_path(repo_id: @repository.id)), title: Biblio::InProceeding::DESCRIPTION %>
        <%= content_tag :li, link_to('Manual', new_biblio_manual_path(repo_id: @repository.id)), title: Biblio::Manual::DESCRIPTION %>
        <%= content_tag :li, link_to('Masterthesis', new_biblio_masterthesis_path(repo_id: @repository.id)), title: Biblio::Masterthesis::DESCRIPTION %>
        <%= content_tag :li, link_to('Misc', new_biblio_misc_path(repo_id: @repository.id)), title: Biblio::Misc::DESCRIPTION %>
        <%= content_tag :li, link_to('Phd-Thesis', new_biblio_phdthesis_path(repo_id: @repository.id)), title: Biblio::Phdthesis::DESCRIPTION %>
        <%= content_tag :li, link_to('Techreport', new_biblio_techreport_path(repo_id: @repository.id)), title: Biblio::Techreport::DESCRIPTION %>
        <%= content_tag :li, link_to('Unpublished', new_biblio_unpublished_path(repo_id: @repository.id)), title: Biblio::Unpublished::DESCRIPTION %>
        <li role="separator" class="divider"></li>
        <%= content_tag :li, link_to('Book', new_biblio_book_path(repo_id: @repository.id)), title: Biblio::Book::DESCRIPTION %>
        <%= content_tag :li, link_to('Collection', new_biblio_collection_path(repo_id: @repository.id)), title: Biblio::Collection::DESCRIPTION %>
        <%= content_tag :li, link_to('Proceeding', new_biblio_proceeding_path(repo_id: @repository.id)), title: Biblio::Proceeding::DESCRIPTION %>
        <li role="separator" class="divider"></li>
        <%= content_tag :li, link_to('Journal', new_biblio_journal_path), title: Biblio::Journal::DESCRIPTION %>
        <%= content_tag :li, link_to('Serie', new_biblio_serie_path), title: Biblio::Serie::DESCRIPTION %>
        <li role="separator" class="divider"></li>
        <%= content_tag :li, link_to('Import', new_biblio_import_path(repo_id: @repository.id)) %>
      </ul>
    <% end %>
  </div>
<% end if can?(:add_reference, Biblio::Referencation.new(repository: @repository)) %>

    <div class="row --spacious-20">
      <%= content_tag :div, class: 'col-md-4 col-md-push-8 sidebar' do %>
        <div class="biblio-search clearfix">
          <%= form_tag namespace_repository_biblio_references_path(@namespace, @repository), method: :get, class: "" do %>
            <%= search_field_tag 'q', params[:q], placeholder: "Search for references in #{@repository.name}...", class: "form-control", autofocus: true %>
            <%= select_tag 'sorted_by', options_for_select(Biblio::Entry.options_for_sorted_by, params[:sorted_by]), style: 'width:50%;', class: 'pull-right form-control --spacing-10', onchange: "this.form.submit()" %>
          <% end %>
          <%= content_tag :div, class: 'links --spacious-10' do %>
            <%= content_tag :span, 'Total: '+ @entries.size.to_s, class: 'text-small' %>
            <%= ('- ' + link_to('View all', namespace_repository_biblio_references_path(@namespace, @repository), class: 'text-small')).html_safe if params[:q] %>
            <%= content_tag :p, 'Results: '+@results.total_entries.to_s, class: 'text-small text-muted' if params[:q].present? %>
          <% end %>
        </div>
        <div class="--spacious-20">
          <p class="text-small text-grey">
            Diese Bibliographie ist work in progress. Sie umfasst Referenzen zum Forschungsthema dieses Repositoriums. Umfang und Genauigkeit der Daten entwickeln sich mit dem Voranschreiten des Projekts.
            Hinweise, Ergänzungen, sowie Berichtigungen werden dankbar entgegengenommen.
          </p>
        </div>

        <h4 class="subhead --spacious">Filter</h4>
        <% @results.aggs.each do |k,v| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= content_tag :span, k.capitalize.pluralize, class: 'text-strong text-gray' %>
            </div>
            <ul class="list-group">
            <% v['buckets'].take(5).each do |entry| %>
              <%= content_tag :li, class: 'list-group-item' do %>
                <%= content_tag :span, link_to(entry['key'], [@namespace, @repository, :biblio, :references, q: "#{params[:q]} #{k}:#{'"'+entry['key']+'"'}"] ) %>
                <%= content_tag :span, entry['doc_count'], class: 'badge' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="col-md-8 col-md-pull-4 main">

        <div id='entries'>
          <table class="table table-simple">
            <tbody>
              <% @results.each do |result| %>
                <%= render result, referencation: result.referencations.select{|r| r.repository_id == @repository.id}.first, actions: true %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="pagination-results">
          <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
        </div>
        <%= content_tag :div, class: 'links --spacious-10' do %>
          <%= link_to('Get an overview', biblio_path, class: 'text-small') %> |
          <%= link_to('View all bibliographic references', biblio_entries_path, class: 'text-small') %>
        <% end %>
      </div>

    </div>
