<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= render "shared/search" %>
  </div>
  <div class="col-md-12">
    
  </div>
</div>


<% if @grouped_results %>
  <% @grouped_results.each do |group, results| %>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th><%= group.pluralize %></th>
        </tr>
      </thead>
      <tbody>
        <% results.each do |result| %>
          <tr>
            <td>
              <%= link_to result['full_entry'], result['links']['human'] %><br>
              <small><%= result['links']['human'] %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Search Results</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Empty
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<% content_for :sidebar do %>
	<h4>Filter</h4>
	<p>
    List of active filters<br>
    <strong><%= params[:q] %></strong>
  </p>
<% end %>