<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= render "shared/search" %>
  </div>
  <div class="col-md-12">
    
  </div>
</div>


    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td>
              <small><%= result %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


<% content_for :sidebar do %>
	<h4>Filter</h4>
	<p>
    List of active filters<br>
    <strong><%= params[:q] %></strong>
  </p>

  <br>
  <%= content_tag :p, 'Searching all registered, searchable collections.', class: "text-muted" if !user_signed_in? %>

  <%= content_tag :h4, "Looking for personalized content in:", class: 'text-muted' if user_signed_in? %>
  <%= render current_user.oread_enrolled_applications.order(name: :asc) if user_signed_in? %>

  <%= content_tag :h4, "Looking for unpublished content in:", class: 'text-muted' if user_signed_in? %>
  <%= render current_user.oread_token_applications.where(id: current_user.oread_enrolled_application_ids).order(name: :asc).uniq if user_signed_in? %>
<% end %>