<%= simple_form_for collab, url: namespace_repository_settings_collaboration_path(@namespace, @repository, collab), 
  remote: true, 
  method: :put, 
  as: :repository_collaboration,
  html: {
    id: "edit_repository_collaboration_#{collab.id}"
  } do |f| %>

  <%= content_tag :h5, style: 'margin-top:0px;' do %>
    <%= content_tag :span, collab.collaborator.name, class: 'text-strong' %>
    <%= content_tag :span, "(added by #{collab.creator.name} on #{collab.created_at.to_formatted_s(:long)})", class: 'text-small text-gray' %>
  <% end %>
  <div class="form-inline">
    <%= f.input :can_manage, label: 'Manage', input_html: {id: "repository_collaboration_#{collab.id}_can_manage", class: 'autosubmit'} %>
    <%= f.input :can_create, label: 'Create', input_html: {id: "repository_collaboration_#{collab.id}_can_create", class: 'autosubmit'} %>
    <%= f.input :can_read, label: 'Read', input_html: {id: "repository_collaboration_#{collab.id}_can_read", class: 'autosubmit'} %>
    <%= f.input :can_update, label: 'Update', input_html: {id: "repository_collaboration_#{collab.id}_can_update", class: 'autosubmit'} %>
    <%= f.input :can_destroy, label: 'Delete', input_html: {id: "repository_collaboration_#{collab.id}_can_destroy", class: 'autosubmit'} %>
  </div>
  <%= f.submit 'Update', class: 'btn btn-default btn-sm text-strong inputs-autosubmit' %>

<% end %>


