<% content_for :container do %>
  <div class="row --spacious zensus">
    <div class="col-sm-12 col-md-8 main">
      <%= simple_form_for [:zensus, @event, @activity], as: :zensus_activity do |f| %>
        <div class="activity-form">
          <%= content_tag :p, @activity.event.description, class: 'text-strong' %>

          <%= f.input :actable_gid, 
          collection: Zensus::Agent.all, 
          value_method: :to_global_id, 
          label_method: :default_name,
          label: false,
          input_html: {
            class: 'zensus_activity_actable'
          } %>
          <%= f.input :note %>
        </div>
        
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', zensus_event_activities_path(@event), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
<% end %>


<% content_for :modals do %>
  <%= render 'zensus/events/new_modal' %>
<% end %>