<% title 'Public profile' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<%= simple_form_for @person, url: settings_person_path, method: :put do |f| %>

  <div class="row">
      <div class="col-md-12">
      <%= f.error_notification %>

      <div class="row">
        <%= content_tag :div, class: "col-sm-8 col-md-8" do %>
          <div class="form-inputs">
            <%= f.input :honorific_prefix %>
            <%= f.input :given_name %>
            <%= f.input :family_name %>
            <%= f.input :honorific_suffix %>
            <%= f.input :about_me, label: 'Bio', input_html: { rows: 3 }, hint: 'Should be between 70 and 150 characters.' %>
            <%= f.input :url %>
            <%= f.input :institution %>
            <%= f.input :location %>
          </div>
        <% end %>
        <%= content_tag :div, class: "col-xs-4 col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1" do %>
          <strong>Picture</strong>
          <%= content_tag :div, class: '', style: 'margin-top:3px; margin-bottom:10px;' do %>
            <%= image_tag(@person.image_url(:big_thumb), id: 'person-img-square', style: 'border-radius: 5px;width: 100%;') %>
          <% end %>
          <%= f.hidden_field :image, value: @person.cached_image_data %>
          <label class="btn btn-default" style="width:100%;">
            <span class="text-muted"><strong>Upload new picture</strong></span>
            <span style="display:none;">
              <%= f.file_field :image, as: :file, required: true, onchange: "previewFile()" %>
            </span>
          </label>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <%= content_tag :span, 'Change namespace url', class: 'text-strong', style: 'margin-bottom:5px;' %>
              <%= content_tag :p, class: 'text-small text-muted' do %>
                Changing the namespace url can have unintended side effects.<br>
                Your current url is <%= content_tag :code, namespace_path(@person.namespace) %>
              <% end %>
              <%= link_to 'Change namespace url', edit_settings_person_namespace_path, class: 'btn btn-default text-strong' %>   
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class='col-md-8'>
          <h4 class="subhead --spacious">General settings</h4>
          <%= f.input :csl, hint: "Citation style language. Default is apa. Available styles: #{link_to 'Style registry by http://citationstyles.org', 'https://github.com/citation-style-language/styles'}".html_safe %>
          <%= f.input :per_page, collection: [10, 20, 50, 100, 200], hint: 'Used for the number of results per page. Default is 50.' %>
        </div>
      </div>
  
      <div class="row --spacious">
        <div class="col-md-12">
          <%= f.submit 'Update', class: 'btn btn-primary text-strong' %>
          <%= link_to 'Cancel', edit_settings_person_path, class: "btn btn-default" %>
          <%= link_to 'View profile', @person.namespace, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script>
  function previewFile() {
    var preview = document.querySelector('#person-img-square');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();
    var divWidth = $('#person-img-square').width();

    reader.addEventListener("load", function () {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    };
    $('#person-img-square').css({height: divWidth, 'object-position': 'center', 'object-fit': 'cover', overflow: 'hidden'});
  };
  
  $(window).resize(function(){
    var divWidth = $('#person-img-square').width(); 
    $('#person-img-square').height(divWidth);
  });
</script>