<%= content_tag :div, id: "oauth-application-#{application.id}", class: 'media' do %>
  <%= link_to oauth_application_path(application), class: 'list-group-item' do %>
    <div class="media-left">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= application.name %></h4>
      <p class="small text-muted">
        Created on 
        <%= application.created_at.to_date.to_formatted_s(:long_ordinal) %>. 
        <%= 'Accessible by ' + pluralize((application.organization_accessors.map{|p|p.members.ids} + application.person_accessors.ids).flatten.uniq.count, 'user' ) %>.
      </p>
    </div>
    <div class="media-right">
      <% if user_signed_in? && application.access_tokens.where(resource_owner_id: current_user.id).exists? %>
        <%= content_tag :span, 
          fa_icon('link'), 
          data: {toggle: "tooltip", placement: "left"}, 
          title: "Status: Connected.", 
          class: 'text-success' 
        %>
      <% elsif user_signed_in? %>
        <%= content_tag :span, 
          fa_icon('ban'), 
          data: {toggle: "tooltip", placement: "left"}, 
          title: "Status: You have to login once to authenticate.", 
          class: 'text-warning' 
        %>
      <% end %>
    </div>
  <% end %>
<% end %>