<%= form_for application, url: doorkeeper_submit_path(application) do |f| %>

  <% if application.errors.any? %>
    <div class="alert alert-danger" data-alert><p><%= t('doorkeeper.applications.form.error') %></p></div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do %>
        <%= f.label :name, 'Application name', class: 'control-label' %>
        <div class="">
          <%= f.text_field :name, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :name %>
          <span class="help-block">
            <%= t('doorkeeper.applications.help.name') %>
          </span>
        </div>
      <% end %>

      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:homepage_url].present?}" do %>
        <%= f.label :homepage_url, 'Homepage URL', class: 'control-label' %>
        <div class="">
          <%= f.text_field :homepage_url, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :homepage_url %>
          <span class="help-block">
            <%= t('doorkeeper.applications.help.homepage_url') %>
          </span>
        </div>
      <% end %>

      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:description].present?}" do %>
        <%= f.label :description, 'Application description', class: 'control-label' %>
        <div class="">
          <%= f.text_area :description, class: 'form-control', placeholder: 'Application description is optional' %>
          <%= doorkeeper_errors_for application, :description %>
          <span class="help-block">
            <%= t('doorkeeper.applications.help.description') %>
          </span>
        </div>
      <% end %>

      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do %>
        <%= f.label :redirect_uri, 'Authorization callback URL', class: 'control-label' %>
        <div class="">
          <%= f.text_area :redirect_uri, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :redirect_uri %>
          <span class="help-block">
            <%= t('doorkeeper.applications.help.redirect_uri') %>
          </span>
          <% if Doorkeeper.configuration.native_redirect_uri %>
              <span class="help-block">
                <%= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>") %>
              </span>
          <% end %>
        </div>
      <% end %>

      <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:scopes].present?}" do %>
        <%= f.label :scopes, class: 'control-label' %>
        <div class="">
          <%= f.text_field :scopes, class: 'form-control' %>
          <%= doorkeeper_errors_for application, :scopes %>
          <span class="help-block">
            <%= t('doorkeeper.applications.help.scopes') %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group --spacious">
    <div class="">
      <%= f.submit t('doorkeeper.applications.buttons.submit'), class: "btn btn-primary" %>
      <%= link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
