<% title t('.title') %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('OAuth applications', oauth_applications_path)%>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

  <%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-7' do %>
    <h4><%= t('.application_id') %>:</h4>
    <p><code id="application_id"><%= @application.uid %></code></p>

    <% if can?(:manage, @application) %>
      <h4><%= t('.secret') %>:</h4>
      <p><code id="secret"><%= @application.secret %></code></p>
    <% end %>

    <%= render 'form', application: @application %>
    
    <h4><%= t('.callback_urls') %>:</h4>
    <table>
      <% @application.redirect_uri.split.each do |uri| %>
        <tr>
          <td>
            <code><%= uri %></code>
          </td>
          <td>
            <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-success', target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>


  <%= content_tag :div, class: 'col-md-5' do %>
    <h4>
      Accessors
      <%= link_to fa_icon('plus', text: 'Accessor'), new_oauth_application_accessibility_path(@application), class: 'btn btn-success btn-sm pull-right' if can?(:create_accessibility, @application) %>
      
    </h4>
    <% for accessibility in @application.accessibilities do %>
      <%= render partial: accessibility.accessor.to_partial_path, object: accessibility.accessor if accessibility.accessor %>
      <div class="panel panel-default panel-attach">
        <%= content_tag :ul, class: "panel-body list-inline" do %>
          <%= content_tag :li, fa_icon('universal-access'), data: {toggle: "tooltip", placement: "left"}, title: "Can manage everything." if accessibility.can_manage %>
          <%= content_tag :li, fa_icon('plus'), data: {toggle: "tooltip", placement: "left"}, title: "Can create records." if accessibility.can_create %>
          <%= content_tag :li, fa_icon('info'), data: {toggle: "tooltip", placement: "left"}, title: "Can read records." if accessibility.can_read %>
          <%= content_tag :li, fa_icon('edit'), data: {toggle: "tooltip", placement: "left"}, title: "Can edit records." if accessibility.can_update %>
          <%= content_tag :li, fa_icon('remove'), data: {toggle: "tooltip", placement: "left"}, title: "Can remove records." if accessibility.can_destroy %>
          <%= content_tag :li, fa_icon('comment-o'), data: {toggle: "tooltip", placement: "left"}, title: "Can comment on records." if accessibility.can_comment %>
          <%= content_tag :li, fa_icon('eye'), data: {toggle: "tooltip", placement: "left"}, title: "Can publish records." if accessibility.can_publish %>

          <%= content_tag :li, link_to(fa_icon('pencil', text: 'Edit'), edit_oauth_application_accessibility_path(@application, accessibility), class: 'btn btn-default btn-xs'), class: 'pull-right' if can?(:update_accessibility, @application) %>
          <%= content_tag :li, link_to(fa_icon('remove', text: 'Delete'), oauth_application_accessibility_path(@application, accessibility), method: :delete, class: 'btn btn-default btn-xs'), class: 'pull-right' if can?(:destroy_accessibility, @application) %>
        <% end %>
      </div>
    <% end %>
    <%= link_to 'Update Client', oauth_application_send_accessibilities_to_clients_path(@application), remote: true, class: 'btn btn-default btn-sm', style: 'margin-top:10px;' if can?(:update, @application) %>
  <% end %>
<% end %>