<main role="main">
  <div class="page-header" style="margin-top:0px;">
    <h3 style="margin-top:0px;">
      <%= t('.title') %>
      <%= link_to t('.new'), new_oauth_application_path, class: 'btn btn-default text-strong pull-right' if can?(:create, Doorkeeper::Application) %>
    </h3>
    <p class="text-gray">OAuth applications are used to access the babylon-online.org API.</p>
  </div>
  <table class="table table-simple">
    <thead>
    <tr>
      <th style="width:70%;"><%= t('doorkeeper.applications.index.application') %></th>
      <th><%= t('doorkeeper.applications.index.created_at') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td>
          <%= content_tag :span, application.name, class: 'text-strong' %>
          <%= content_tag :p, truncate(application.description, length: 200), class: 'text-muted text-small' if application.description? %>
          <%= content_tag :p, "Owner: #{application.owner.try(:name)}", class: 'text-muted text-small' %>        
        </td>
        <td>
          <%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %>
        </td>
        <td>
          <% if can?(:update, application) || can?(:destroy, application) %>
            <p><%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application), class: 'btn btn-primary btn-sm text-strong' if can?(:update, application) %></p>
            <p><%= render 'delete_form', application: application, submit_btn_css: 'btn btn-danger btn-sm text-strong' if can?(:destroy, application) %></p>
          <% end %>        
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>