<div class="page-header">
  <h2><%= t('.title', name: @application.name) %></h2>
</div>

<div class="row">
  <div class="col-md-8">
    <h4><%= t('.application_id') %>:</h4>
    
    <p><code id="application_id"><%= @application.uid %></code></p>

    <h4><%= t('.secret') %>:</h4>
    <p><code id="secret"><%= @application.secret %></code></p>

    <h4><%= t('.scopes') %>:</h4>
    <p><code id="scopes"><%= @application.scopes %></code></p>
    
    <h4><%= t('.callback_urls') %>:</h4>

    <table>
      <% @application.redirect_uri.split.each do |uri| %>
        <tr>
          <td>
            <code><%= uri %></code>
          </td>
          <td>
            <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-success', target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-4">
    <h3><%= t('.actions') %></h3>

    <p><%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(@application), class: 'btn btn-primary' %></p>

    <p><%= render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger' %></p>
  </div>
</div>


<% content_for :sidebar do %>
  <h4>
    Accessors
    <%= link_to 'Add Accessor', new_oauth_application_accessibility_path(@application), class: 'btn btn-success btn-sm pull-right' if can? :create, OauthAccessibility %>
  
  </h4>
  <% for accessibility in @application.accessibilities do %>
    <%= render partial: accessibility.accessor.to_partial_path, object: accessibility.accessor if accessibility.accessor %>
    <%= fa_icon('universal-access') if accessibility.can_manage %>
    <%= fa_icon('plus') if accessibility.can_create %>
    <%= fa_icon('info') if accessibility.can_read %>
    <%= fa_icon('edit') if accessibility.can_update %>
    <%= fa_icon('remove') if accessibility.can_destroy %>
    <%= fa_icon('comment-o') if accessibility.can_comment %>
    <%= fa_icon('eye') if accessibility.can_publish %>
    <%= link_to 'edit', edit_oauth_application_accessibility_path(@application, accessibility) %>
  <% end %>

<% end %>
