<% content_for :container do %>
  <div class="row">
    <div class="col-md-12">
      <%= render @application %>
      <strong><%= @application.name %></strong>
      <%= content_tag :p, @application.description, class: 'text-muted text-small' if @application.description? %>
      <%= content_tag :p, "Owner: #{@application.owner.try(:name)}", class: 'text-muted text-small' %>        
      <%= content_tag :p, @application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %>
    </div>
  </div>
<% end %>