<%= simple_form_for [:settings, @organization] do |f| %>
  
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
  
      <div class="row">
        <%= content_tag :div, class: "col-md-12" do %>
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-7">
                <%= f.input :name %>
                <%= f.input :private, hint: 'If you make a team private, it will only be visible for members on the settings pages.' %>
              </div>
              <div class="col-md-4 col-md-offset-1" style="border-left: solid 1px #c5c5c5;">
                <%= content_tag :span, 'Change namespace url', class: 'text-strong', style: 'margin-bottom:5px;' %>
                <%= content_tag :p, 'Changing the namespace url can have unintended side effects.', class: 'text-small text-muted' %>
                <%= link_to 'Change namespace url', edit_settings_organization_namespace_path(@organization), class: 'btn btn-default text-strong' %>
                
              </div>
            </div>
            <div class="row --spacious">
              <div class="col-md-10">
                <%= f.input :description, input_html: { rows: 12, data: {provide: "markdown"}, id: 'description' } %>
              </div>
            </div>


            <%= content_tag :div, class: "form-group", style: 'margin-top: 20px;' do %>
              <%= f.label :image, class: 'control-label' %>
              <%= f.hidden_field :image, value: @organization.cached_image_data %>
              <%= f.file_field :image, as: :file %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <hr>
      
      <div class="row" id="memberships">
        <div class="col-md-12">
          <%= f.label :memberships, class: 'control-label' %>
          <table class="table table-simple" style="margin-bottom: 10px;">
            <thead>
              <tr>
                <th>User name</th>
                <th>Role</th>
                <th>Verified</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="line_items">
              <%= f.simple_fields_for :memberships do |id| %>
                <%= render 'membership_fields', f: id %>
              <% end %>
            </tbody>
          </table>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'member'), f, :memberships, data: {"association-insertion-node": "tbody.line_items", "association-insertion-method": "append"}, class: 'btn btn-success' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <hr>
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', settings_organizations_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :modals do %>
  <%= render 'namespace_modal' %>
<% end %>