<tr class="nested-fields">
  <td>
    <%= f.input :person_id, 
      collection: @people, 
      label_method: :name, 
      value_method: :id, 
      include_blank: true,
      label: false,
      disabled: (f.object.person == current_person || !f.object.new_record?) %>
    <%= f.hidden_field :person_id, value: f.object.person_id if (f.object.person == current_person || !f.object.new_record?) %>
  </td>
  <td>
    <%= f.input :role, 
      collection: Membership::ROLES, 
      include_blank: true,
      label: false,
      disabled: f.object.person == current_person %>
      <%= f.hidden_field :role, value: f.object.role if f.object.person == current_person %>
  </td>
  <td>
    <%= f.input :verified %>
  </td>
  <td>
    <%= link_to_remove_association fa_icon('remove', text: 'remove'), f unless f.object.person == current_person %>
  </td>
</tr>