<% content_for :container do %>
  <div class="row --spacious zensus">
    <div class="col-sm-12 col-md-9 main">
      <%= simple_form_for [:zensus, @event], as: :zensus_event do |f| %>
        <%= f.error_notification %>
        <div class="form-inline" style="margin-bottom: 10px;">
          <%= f.input :type, collection: Zensus::Event.types, label: false %>
          <%= f.input :place_id, collection: Locate::Place.all, label: false, prompt: 'Select place', label_method: :default_name, value_method: :id, include_blank: true %>
          <%= f.input :period_id, collection: Vocab::Concept.all, label: false, prompt: 'Select period' %>
        </div>
        <div class="form-inline">
          <%= f.input :begins_at_string, label: false, placeholder: 'Begins at' %>

          <%= f.input :ends_at_string, label: false, placeholder: 'Ends at' %>

          <%= f.input :circa, label: 'approx.' %>
          <%= content_tag :p, 'Should be yyyy-mm-dd.', class: 'text-small text-muted' %>
        </div>
        
        <h3 class="subhead --spacious">Activities</h3>
        <div id="activities">
          <%= f.simple_fields_for :activities do |a| %>
            <%= render 'activity_fields', f: a %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'Activity'), f, :activities, class: 'btn btn-default btn-sm' %>
          </div>
        </div>

        <h3 class="subhead --spacious">Event relations</h3>
        <div id="event-relations">
          <%= f.simple_fields_for :event_relations do |a| %>
            <%= render 'event_relation_fields', f: a %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'Event relation'), f, :event_relations, class: 'btn btn-default btn-sm' %>
          </div>
        </div>

        <div class="actions --spacious">
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', @event.new_record? ? zensus_events_path : zensus_event_path(@event), class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>