<% title "Registered Users" %>
<p class="text-muted">
  Users listed here are registered and have the ability to read everything. Admins may assign other users a new role. You cannot change your own role, that is why you are missing in the table.
<p>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
	    <th>Roles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.display_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <%= simple_form_for [user], remote: true do |f| %>
          <td>
            <%= f.error_notification %>
            <%= f.check_box :is_active %> Is Active<br>
            <%= f.check_box :is_admin %> Is Admin
          </td>
          <td id="user_<%= user.id %>_submit">
            <%= f.submit 'Update', class: "btn btn-sm btn-default" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>