<tr id="biblio-entry-<%= collection.id %>">
  <td width="5%">
    <%= content_tag :span, fa_icon(collection.icon), title: 'Collection' %>
  </td>
  <td width="95%">
    <%= render 'biblio/shared/actions', entry: collection, referencation: local_assigns[:referencation], actions: local_assigns[:actions] %>
    <%= content_tag :span, link_to(collection.citation, collection), class: 'text-strong' %><br>
    <%= content_tag :span, collection.bibliographic(current_user.try(:person).try(:csl), 'en-US'), class: 'text-small' %>
  </td>
</tr>