  <div class="modal fade collection-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">Create a new collection</h4>
        </div>
        <div class="modal-body biblio">
          <%= simple_form_for Biblio::Collection.new, html: {id: 'new_modal_biblio_collection'} do |f| %>
            <div class="row">
              <div class="col-md-12">
                <%= f.error_notification %>
  <%= f.input :editor_ids, 
    collection: @creators, 
    label_method: :name, 
    value_method: :id, 
    label: 'Editors',
    required: true,
    input_html: {
      multiple: true, 
      class: 'load-creators-selectize'
    } %>
  
  <%= f.input :year %>
  <%= f.input :month %>
  
  <%= f.input :title, as: :text %>

  <%= f.input :publisher_id, 
    collection: Zensus::Appellation.all, 
    label_method: :name, 
    value_method: :id, 
    include_blank: false, 
    label: "Publisher",
    input_html: {
      class: 'publisher-selectize'
    } %>
  
  <hr>
  
  <%= f.input :place_ids, 
    collection: Locate::Toponym.all, 
    label_method: :given, 
    value_method: :id, 
    label: 'Places',
    input_html: {
      multiple: true, 
      id: 'places_names',
      class: 'places-selectize'
    } %>
  
  <%= f.input :serie, 
    collection: Biblio::Serie.all, 
    label_method: :title, 
    value_method: :id, 
    include_blank: true, 
    label: "Serie",
    input_html: {
      id: 'serie_title',
      class: 'serie-selectize'
    } %>
  
  <%= f.input :volume %>
  <%= f.input :edition %>

  <%= f.input :organization_id, 
    collection: Zensus::Appellation.all, 
    label_method: :name, 
    value_method: :id, 
    include_blank: true, 
    label: "Organization",
    input_html: {
      class: 'organization-selectize'
    } %>

              </div>
              <div class="col-md-12 actions --spacious">
                <%= f.submit class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>