<% title "Explore", false %>
<% content_for(:breadcrumbs) do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, 'Explore', class: 'active' %>
<% end %>

<% content_for :sidebar do %>
<div class="row">
  <div class="col-md-12">
    <h4>
      Users
      <span class="badge"><%= @users.count %></span>
      <span class='pull-right small'><%= link_to 'view all', profiles_path, class: '' %></span>
    </h4>
  </div>
  <% for user in @users.limit(12) do %>
    <div class="col-md-6 col-sm-12" style="margin-bottom:20px;">
      <%= render user %>
    </div>
  <% end %>
</div>
<% end %>

<h1>Showcase</h1>
<p class="text-muted" style="margin-bottom: 20px;">
  Babylon-Online is organized by a number of different interconnected data pools (applications)', from different materials 
  and techniques to objects (like figurines) and culture. Records are also organized by the season—when the 
  object was excavated—and the museum that houses the object today.
</p>

<div class="row">
  <div class="col-md-6">
    <div id="explore-oread-applications">
      <h4 class="">
        Searchable applications
        <span class="badge"><%= @oread_applications.count %></span>
      </h4> 
      <% for application in @oread_applications.limit(5) do %>
        <%= render application %>
      <% end if can? :read, Oread::Application %>
    </div>
  </div>

  <div class="col-md-6">
	<h4>
    Projects / Groups
    <span class="badge"><%= @projects.count %></span>
  </h4>
  <%= render @projects.limit(5) %>
  </div>
</div>