<% title "Explore" %>
<p class="text-muted" style="margin-bottom: 20px;">
  Babylon-Online is organized by a number of different interconnected data pools', from different materials 
  and techniques to objects (like figurines) and culture. Items are also organized by the season—when the 
  object was excavated—and the museum that houses the object today.
</p>

<section class="no-padding" id="explore-oread-applications" style="margin-bottom: 40px;">
  <h4 class="text-muted">Read- and Search Applications</h4> 
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <% for application in @oread_applications do %>
        <% if user_signed_in? && application.projects.joins(:memberships).where('memberships.user_id = ?', current_user.id).exists? %>
          <div class="col-lg-4 col-sm-6">
            <%= link_to application, class: "portfolio-box" do %>
              <%= image_tag application.image_url(:small_banner), class: "img-responsive" %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Category
                  </div>
                  <div class="project-name">
                    <%= application.name %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="col-lg-4 col-sm-6">
            <%= content_tag :span, class: "portfolio-box" do %>
              <%= image_tag application.image_url(:small_banner), class: "img-responsive", style: 'opacity:0.4;filter:grayscale(100%) brightness(150%);-webkit-filter:grayscale(100%) brightness(150%);' %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Category
                  </div>
                  <div class="project-name">
                    <%= application.name %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to 'List of all read- and searchable Applications', oread_applications_path if can? :read, Oread::Application %>
</section>

<section class="no-padding" id="explore-oauth-applications" style="margin-bottom: 80px;">
  <h4 class="text-muted">Applications authenticated by babylon-online</h4> 
  <% for application in @oauth_applications do %>
    <div class="col-md-6">
      <%= content_tag :h4, link_to(application.name.humanize, oauth_application_path(application)) %>
      <%= content_tag :p, application.redirect_uri %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <br>
  <%= link_to 'List of all oauth Applications', oauth_applications_path if can? :read, Doorkeeper::Application %>
</section>


<% content_for :sidebar do %>
	<h3>Projects</h3>
  <%= render @projects %>
	<%= link_to 'View all projects', projects_path %>
<% end %>