<% title "Explore" %>
<p class="text-muted" style="margin-bottom: 20px;">
  Babylon-Online is organized by a number of different interconnected data pools', from different materials 
  and techniques to objects (like figurines) and culture. Items are also organized by the season—when the 
  object was excavated—and the museum that houses the object today.
</p>

<section class="no-padding" id="explore-oread-applications" style="margin-bottom: 40px;">
  <h4 class="text-muted">Read- and Search Applications</h4> 
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <% for application in @oread_applications.limit(3) do %>
        <%= render application %>
      <% end if can? :read, Oread::Application %>
    </div>
  </div>
  <br>
  <%= link_to 'List of all read- and searchable Applications', oread_applications_path if can? :read, Oread::Application %>
</section>

<section class="no-padding" id="explore-oauth-applications" style="margin-bottom: 80px;">
  <h4 class="text-muted">Applications authenticated by babylon-online</h4> 
  <% for application in @oauth_applications.limit(3) do %>
    <%= render application %>
  <% end %>
  <br>
  <%= link_to 'List all authenticated Applications', oauth_applications_path if can? :read, Doorkeeper::Application %>
</section>


<% content_for :sidebar do %>
  <h4>Users signed up <span class="badge"><%= Profile.count %></span></h4>
  <%= link_to 'all users', profiles_path %>

	<h3>Projects</h3>
  <%= render @projects.limit(3) %>
  <br>
	<%= link_to 'View all projects', projects_path %>
<% end %>