<% title "Explore" %>

<p class="text-muted">
  'Babylon-Online is organized by a number of different interconnected data pools', from different materials 
  and techniques to objects (like figurines) and culture. Items are also organized by the season—when the 
  object was excavated—and the museum that houses the object today.
</p>

<section class="no-padding" id="explore" style="margin-bottom: 80px;">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <% for app in @applications do %>
        <div class="col-lg-4 col-sm-6">
          <%= link_to app.host, class: "portfolio-box", target: :blank do %>
            <%= image_tag app.image.present? ? app.image : "categories/#{app.name}.jpg", class: "img-responsive" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Category
                </div>
                <div class="project-name">
                  <%= app.name.humanize %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
    
  <h4>Searchable Categories / Applications</h4>
  <div class="list-group">
    <% for app in Search::Application.all do %>
      <%= link_to app.name.humanize, app.host, class: 'list-group-item', target: :blank %>
    <% end %>
  </div>
  <%= link_to 'Available Apps to search in', search_applications_path if can? :read, Search::Application %>

<% content_for :sidebar do %>
	<h4>Projects</h4>
	<p>List of projects</p>
<% end %>