<%= content_for(:content) do %>
  <div class="container-fluid" style="padding-top:50px;">
    <div class="row">
      <%= image_tag("banner-babili.jpg", style: 'max-width:100%') %>
    </div>
    <div class="row searchbox" style="margin:0 4rem;">
      <div class="col-md-6 col-sm-8 col-xs-10 col-centered --spacing --spacious">
        <%= content_tag :h2, 'Search', class: 'text-primary' %>
        <%= render 'shared/search' %>
      </div>
    </div>

    <div class="row featurepanels" style="margin:0 4rem;">
      <div class="col-md-8 col-centered --spacing-20" style="border-bottom:1px solid #eeeeee;"></div>
      <div class="col-md-12">
        <%= content_tag :h2, 'Featured', class: 'text-center text-primary --spacing-20' %>
      </div>
      <div class="col-md-3">
        <div class='panel panel-default' style="min-height:450px;overflow:hidden;">
          <%= image_tag("search.jpg", style: 'width:100%;max-width:100%;') %>
          <div class="panel-body text-left">
            <%= content_tag :h4, 'Search', class: 'text-center text-primary' %>
            <p>Search content on babylon-online.</p>
            <ul class="text-small text-muted list-unstyled">
              <li><%= link_to fa_icon('search', text: 'Search'), search_path %></li>
            </ul>
          </div>
        </div>
      </div>

      <%= content_tag :div, class: "col-md-3" do %>
        <%= render @featured_application, full: true, actions: true %>
      <% end if can? :read, Oread::Application %>

      <div class="col-md-3">
        <div class='panel panel-default' style="min-height:450px;overflow:hidden;">
          <%= image_tag("explore.png", style: 'width:100%;max-width:100%;') %>
          <div class="panel-body text-left">
            <%= content_tag :h4, 'Explore Tools and Services', class: 'text-center text-primary' %>
            <p>BabylonOnline is a prototypical research infrastructure and provides additional tools and services.</p>
            <ul class="text-small text-muted list-unstyled">
              <li><%= link_to 'Learn more', explore_path %></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class='panel panel-default' style="min-height:450px;overflow:hidden;">
          <%= image_tag("books.jpg", style: 'width:100%;max-width:100%;') %>
          <div class="panel-body text-left">
            <%= content_tag :h4, 'Babylon Bibliography', class: 'text-center text-primary' %>
            <p>More than 120 years of research history led to a large quantity of publications on and related to the ancient city of Babylon.</p>
            <ul class="text-small text-muted list-unstyled">
              <li><%= link_to 'Browse the repositories bibliographic database','http://babylon-online.org/babylon-projekt/repositories/bibliography/bibliography/references' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="--spacious --spacing" style="background-color: #FAFBFC;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
    <div class="container" style="">
      <div class="row">
        <div class="col-md-4">
            <%= link_to image_tag('fu-logo.svg', style: 'height: 100px; margin: 0 30px 30px auto;'), 'http://www.fu-berlin.de', target: :_blank %>
            <%= link_to image_tag('dog-logo.png', style: 'height: 70px; margin: 30px 30px 30px auto;'), 'http://www.orient-gesellschaft.de', target: :_blank %>
            <%= link_to image_tag('SMB_VAM_PMS_SC.png', style: 'height: 75px; margin: 30px 30px 30px auto;'), 'http://smb.museum', target: :_blank %>
            <%= link_to image_tag('dfg_logo_schriftzug_blau_foerderung_4c.svg', style: 'height: 70px; margin: 30px 30px 40px auto;'), 'http://www.dfg.de/', target: :_blank %>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <%= content_tag :h3, 'Learn more about BabylonOnline and the project behind', class: 'text-left text-primary' %>
          <p>
            BabylonOnline is a platform with the purpose to facilitate future research projects and data access on Babylon and other archaeological or philological projects. It combines digitized inventories with additional research tools and services for researchers, such as working with repositories, organizing teams, setting up vocabularies and discussions with colleagues. The infrastructure is set up in English, the content for Babylon is provided in German and English.
          </p>
          <p class="italic">
            With the underlying project coming to an end in 2021 the content development is paused for the time being. The platform is open for further development and allows the incorporation of further data sets in the future.<br/>
            At the moment access to full data is only granted for approved research projects. For further questions contact the VAM.
          </p>
          <ul class="list-unstyled">
            <li>Check out the <%= link_to 'terms of use', 'http://babylon-online.org/help/articles/licensing' %></li>
            <li>Developer? Use the <%= link_to 'API', 'http://babylon-online.org/developer' %></li>
          </ul>

          <p>
            BabylonOnline focuses on the output of the 20th century German Archaeological Excavations at the ruins of the once famous City of Babylon, namely the Koldewey-excavations (1899-1917) and the excavations conducted by the German Archaeological Institute (1957-1973).
          </p>
          <p class="italic">
            The equally important later Iraqi and Italian archaeological excavations are currently not covered on BabylonOnline.
          </p>
          <ul class="list-unstyled">
            <li>Learn more about the <%= link_to 'ancient city of Babylon', 'http://babylon-online.org/blog/2018/10/das-antike-babylon' %></li>
            <li>Get to know the <%= link_to 'German archaeological excavations', 'http://babylon-online.org/blog/2018/10/die-deutschen-koldewey-grabungen' %></li>
            <li>Find out about <%= link_to 'Babylon and the Vorderasiatisches Museum', 'http://babylon-online.org/blog/2018/10/die-babylon-sammlung-am-vorderasiatischen-museum' %></li>
          </ul>
          <p>
            The platform was developed within the ”Pilotstudie Babylon“ (2016-2021), an innovative research project initiated by the Vorderasiatisches Museum of the Staatliche Museen zu Berlin and the Institute of Ancient Near Eastern Studies at the Freie Universität Berlin. The project was subjecting the Babylon holdings of the Vorderasiatisches Museum to systematic analysis. The Deutsche Orient-Gesellschaft Berlin joined as a cooperation partner. The ”Pilotstudie Babylon“ was generously funded bei the German Research Foundation (DFG) and got additional financial support by the Freunde der Antike auf der Museumsinsel Berlin e.V.
          </p>
          <ul class="list-unstyled">
            <li>Learn more <%= link_to 'about the project', about_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </aside>

  <section class="featured-blog-entries --spacious" id="featured">
    <div class="container">
      <div class="row">
        <div class="posts col-md-6">
          <div class="page-header">
            <%= content_tag :h2, link_to('Latest blog postings', writer_category_blog_threads_path) %>
          </div>
          <div class="row">
            <% @latest_blog_postings.each do |posting| %>
              <%= content_tag :div, class: "col-md-12" do %>
                <%= content_tag :div, class: "blog-post", id: "blog-post-#{posting.id}" do %>
                  <%= content_tag :h4, link_to(posting.title, writer_category_blog_date_posting_path(posting.created_at.year, posting.created_at.month, posting)), class: 'blog-post-title h-condensed' %>
                  <%= content_tag :ul, class: 'blog-post-meta' do %>
                    <%= content_tag :li, fa_icon('calendar', text: posting.document.published_at.to_date.to_formatted_s(:long_ordinal)), class: 'meta-item' %>
                    <%= content_tag :li, fa_icon('folder', text: posting.document.categories.blog_threads.map{ |c| link_to(c.try(:name), writer_category_blog_thread_path(c)) }.join(', ').html_safe ), class: 'meta-item' %>
                    <%= content_tag :li, class: 'meta-item' do %>
                      <%= link_to fa_icon('archive', text: posting.document.repository.name_tree.join('/')), [posting.document.repository.try(:owner), posting.document.repository, posting.document], title: 'Origin repository' %>
                    <% end %>
                    <%= content_tag :div, class: 'meta-item', style: 'margin-top:7px;margin-left:5px;' do %>
                      <% posting.document.authors.each do |author| %>
                        <%= link_to background_image_div(author, :small_thumb, {class: 'author-avatar organization-member-avatar', style: 'height:20px;width:20px;background-position:center;'}), author.namespace, title: author.name %>
                        <%= link_to author.name, author.namespace, style: 'margin-right: 10px;' %>
                      <% end %>
                      <%= content_tag :div, "#{plain_first_paragraph(posting.document.content)}", class: '--spacious-10' %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="page-header">
            <%= content_tag :h2, link_to('Explore', explore_path) %>
          </div>
          <h3 class="subhead --spacious-80">Latest literature references</h3>
          <table class="table table-borderless">
            <tbody>
              <%= render @latest_references, actions: false %>
            </tbody>
          </table>
          <%= link_to 'View all', biblio_entries_path  %>
        </div>
      </div>
    </div>
  </section>

<script>
  function scrollToAnchor(aid){
      var aTag = $("#"+ aid);
      $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  };
</script>

<% end %>
