<%= content_tag :header do %>
  <div class="header-content">
    <div class="header-content-inner">
      <h2>Wiedererstehendes</h2>
      <h1 id="homeHeading">Babylon</h1>
      <p>Explore the City of Babylon as it lays before us today.</p>
      
      <div class="row" style="margin-bottom:40px;">
        <div class="col-md-6 col-centered">
          <%= render 'shared/search' %>
        </div>
      </div>
      
      <%= content_tag :div, style: 'margin-top:20px;' do %>
        <%= render "shared/notification" %>
      <% end if alert || notice %>
            
      <div style="margin-top:100px;">
        <%= link_to fa_icon('chevron-circle-down 4x'), '#about', class: 'page-scroll', style: '' %>            
      </div>

    </div>
  </div>
<% end %> 
      
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <% for entry in @nav_blogs.where(type: 'About') do %>
          <h2 class="section-heading"><%= entry.title %></h2>
          <p class="text-faded"><%= truncate(markdown(entry.content), length: 500, separator: ' ', escape: false) { link_to " continue reading", entry } %></p>
          <hr class="light">
        <% end %>
      </div>
    </div>
  </div>
</section>


<aside class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= link_to image_tag('fu-logo.svg', style: 'height: 100px; margin: 0 auto;'), 'http://www.fu-berlin.de', target: :_blank %>
      </div>
      <div class="col-md-3">
        <%= link_to image_tag('dog-logo.png', style: 'height: 70px; margin: 20px auto;'), 'http://www.orient-gesellschaft.de', target: :_blank %>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag('smb-logo.svg', style: 'height: 70px; margin: 20px auto;'), 'http://smb.museum', target: :_blank %>
      </div>
    </div>
  </div>
</aside>



