<%= content_for(:content) do %>

  <%= content_tag :header do %>
    <%= link_to fa_icon('chevron-down 2x'), "javascript:scrollToAnchor('featured');", class: 'chevron-about page-scroll', id: '', style: '' %>
    <div class="info-box">
      <div class="info-box-bg">
        <p class="text-strong">
          <%= content_tag :span, fa_icon('exclamation-triangle 2x'), class: 'pull-left', style: 'margin-right: 20px;' %>
          babylon-online.org and its content is work in progress. Data may be incomplete or even not existing.
        </p>
        <p class="text-small">
          Entwürfe für die Prozessionsstraße in Berlin - Blick zum Ischtar-Tor. 
          Aquarell / Wasserfarben (1927) von Walter Andrae [1875 - 1956].
          &copy; bpk / Staatsbibliothek zu Berlin / Ruth Schacht
        </p>
      </div>
      <p><%= link_to 'About babylon-online.org', about_path, class: 'about-link pull-left' %></p>
    </div>
    <div class="container">
      <div class="row heading">
        <div class="col-md-8 col-centered">
          <h1><strong>babylon-online.org</strong></h1>
          <h2>ein digitales Findbuch</h2>
        </div>
      </div>
      <div class="row searchbox">
        <div class="col-md-6 col-sm-8 col-xs-10 col-centered">
          <%= render 'shared/search' %>
        </div>
      </div>
    </div>
  <% end %> 

  <aside class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <%= link_to image_tag('fu-logo.svg', style: 'height: 100px; margin: 0 20px 0 auto;'), 'http://www.fu-berlin.de', target: :_blank %>
            <%= link_to image_tag('dog-logo.png', style: 'height: 70px; margin: 20px 20px 0 auto;'), 'http://www.orient-gesellschaft.de', target: :_blank %>
            <%= link_to image_tag('smb-logo.svg', style: 'height: 70px; margin: 20px 20px 0 auto;'), 'http://smb.museum', target: :_blank %>
            <%= link_to image_tag('dfg-logo-weiss.svg', style: 'height: 70px; margin: 20px 20px 0 auto;'), 'http://www.dfg.de/', target: :_blank %>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <section class="featured-blog-entries --spacious" id="featured">
    <div class="container">
      <div class="row">
        <div class="posts col-md-6">
          <div class="page-header">
            <%= content_tag :h1, link_to('Featured blogs', cms_blog_pages_path) %>
          </div>
          <div class="row">
            <% @blog_pages.each do |blog_page| %>
              <%= content_tag :div, class: "col-md-12" do %>
                <%= content_tag :div, class: "blog-post", id: "blog-post-#{blog_page.id}" do %>
                  <%= content_tag :h2, link_to(blog_page.title, blog_page), class: 'blog-post-title h-condensed' %>
                  <%= content_tag :ul, class: 'blog-post-meta' do %>
                    <%= content_tag :li, fa_icon('calendar', text: "#{blog_page.published_at.present? ? blog_page.published_at.to_date.to_formatted_s(:long_ordinal) : 'unpublished'}"), class: 'meta-item' %>
                    <%= content_tag :li, class: 'meta-item mid' do %>
                      <%= background_image_div(blog_page.author, :small_thumb, {class: 'author-avatar'}) %>
                      <%= link_to blog_page.author.name, blog_page.author.namespace %>
                    <% end %>
                    <%= content_tag :li, fa_icon('archive', text: link_to(blog_page.category.try(:name), blog_page.category)), class: 'meta-item' %>
                  <% end %>
                  <%= content_tag :div, class: "blog-post-body markdown-body --spacious" do %>
                    <%= link_to(truncate(teaser(blog_page.content), length: 280, separator: ' ', escape: false), blog_page, class: 'no-link text-gray') %>
                  <% end %>
                <% end if blog_page.published_at.present? || blog_page.author == current_person %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="page-header">
            <%= content_tag :h1, link_to('Explore', explore_path) %>
          </div>
          <%= render @exploreables, namespace: true %>
          <h3 class="subhead --spacious-80">Latest literature references</h3>
          <table class="table table-borderless">
            <tbody>
              <%= render @latest_references, actions: false %>
            </tbody>
          </table>
          <%= link_to 'View all', biblio_entries_path  %>
        </div>
      </div>
    </div>
  </section>

<script>
  function scrollToAnchor(aid){
      var aTag = $("#"+ aid);
      $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  };
</script>

<% end %>
