<%= content_tag :header do %>
  <div class="header-content">
    <div class="header-content-inner">
      <h2>Wiedererstehendes</h2>
      <h1 id="homeHeading">Babylon</h1>
      <p>Explore the City of Babylon as it lays before us today.</p>
      
      <div class="row" style="margin-bottom:40px;">
        <div class="col-md-6 col-centered">
          <%= render 'shared/search' %>
        </div>
      </div>
      
      <%= content_tag :div, style: 'margin-top:20px;' do %>
        <%= render "shared/notification" %>
      <% end if alert || notice %>
            
      <div style="margin-top:100px;">
        <%= link_to fa_icon('chevron-circle-down 4x'), '#about', class: 'page-scroll', style: '' %>            
      </div>

    </div>
  </div>
<% end %> 
      
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <% for entry in About.all do %>
          <h2 class="section-heading"><%= entry.title %></h2>
          <p class="text-faded"><%= truncate(entry.content, length: 500, separator: ' ') { link_to " continue reading", entry, style: 'color: white;' } %></p>
          <p><%= link_to 'Weiterlesen', '' %></p>
          <hr class="light">
        <% end %>
      </div>
    </div>
  </div>
</section>


    <aside class="bg-dark">
        <div class="container">
            <div class="call-to-action">
            <ul>
    <li>Startseite aufhübschen (wie ur-online)</li>
    <li>Bab-ili / Babylon-Portal</li>
    <li>Babylon-Online.org</li>
    <li>Titel: The City of Babylon</li>
    <li>Learn About (link auf about/xx inaktiv)</li>
    <li>Explore (apps und projekte)</li>
    <li>    =Datenpools</li>
    <li>    -> dort literatur anzeigen mit Foto (Koldewey beim lesen)</li>
    <li>    -> Personen und Institutionen</li>
    <li>    -> Archivalien</li>
    <li>    -> Objekte</li>
    <li>    -> Babylon Texte (Pedersen Archive)</li>
    <li>    -> Medien</li>
    <li>    =Projekte</li>
    <li>    </li>
    <li>Search all data (inaktiv)</li>
</ul>

<p>zentrale API suche basteln</p>
<p>about blog</p>
<p>news links</p>
<p>authorisierung</p>

<p>API Dokumentation</p>
<p>logout -> alle angeschlossenen apps auch</p>
<p>contact form -> sendmail</p>
            </div>
        </div>
    </aside>



