<%= content_tag :div, class: "agent", id: "agent-#{agent.id}" do %>
  <%= link_to fa_icon("trash", text: 'Remove'), [:zensus, agent], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm text-strong text-danger pull-right' if can?(:destroy, agent) %>
  <%= link_to fa_icon("edit", text: 'Edit'), [:edit, :zensus, agent], class: 'btn btn-default btn-sm text-strong pull-right', style: 'margin-right:10px;' if can?(:update, agent) %>
  <%= content_tag :h2, link_to(agent.default_name, [:zensus, agent]), class: 'agent-title h-condensed' %>

  <% if agent.type == 'Zensus::Person' %>
    <h4 class="subhead --spacious">Family</h4>
    Parents: <%= agent.parents.map(&:default_name).join(', ') if agent.parents %><br>
    Children: <%= agent.children.map(&:default_name).join(', ') if agent.children %><br>
    Siblings: <%= agent.siblings.map(&:default_name).join(', ') if agent.siblings %>
  <% end %>

  <h4 class="subhead --spacious">Appellations</h4>
        <ul>
          <% agent.appellations.each do |appellation| %>
            <li>
              <%= appellation.name %>
            </li>
          <% end %>
        </ul>
  <h4 class="subhead --spacious">Activities</h4>
        <ul>
          <% agent.activities.each do |activity| %>
            <li>
              <%= activity.description %>
            </li>
          <% end %>
        </ul>

<% end %>