<div class="nested-fields appellation-fields well">
  <%= f.input :language %>
  <%= f.input :period %>
  <%= f.input :trans, collection: Zensus::Appellation.transis %>
  <div class="parts form-inline">
    <%= f.simple_fields_for :appellation_parts do |p| %>
      <%= render 'appellation_part_fields', f: p %>
    <% end %>
    <div class="links">
      <%= link_to_add_association fa_icon('plus', text: 'Element'), f, :appellation_parts, class: 'btn btn-default btn-sm' %>
    </div>
  </div>
  <%= link_to_remove_association "remove appellation", f %>
</div>