<% content_for :container do %>
  <div class="row --spacious zensus">
    <div class="col-sm-12 col-md-9 main">
      <%= simple_form_for [:zensus, @agent], as: :zensus_agent do |f| %>
        <%= f.error_notification %>
        <%= f.input :type, as: :hidden %>

        <h3 class="subhead">Appellations</h3>
        <div id="appellations">
          <%= f.input :appellation_ids, 
          collection: f.object.appellations+Zensus::Appellation.where(agent_id: nil).includes(:appellation_parts), 
          value_method: :id, 
          label_method: :name,
          label: false,
          input_html: {
            multiple: true,
            class: 'zensus_appellation',
            id: 'zensus_appellation_id'
          } %>
        </div>

        <h3 class="subhead --spacious">Other</h3>
        <h4>Address</h4>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <%= f.input :address, label: false %>
          </div>
        </div>

        <hr>

        <div id="links --spacious">
          <h4>Other web-identifiers</h4>
          <%= f.simple_fields_for :links do |a| %>
            <%= render 'link_fields', f: a %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'URI'), f, :links, class: 'btn btn-default btn-sm' %>
          </div>
        </div>

        <hr>

        <div id="links --spacious">
          <h4>Media objects</h4>
          <%= f.simple_fields_for :links do |a| %>
            <%= render 'link_fields', f: a %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'Media object'), f, :links, class: 'btn btn-default btn-sm' %>
          </div>
        </div>

        <div class="actions --spacious">
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', @agent.new_record? ? zensus_agents_path : zensus_agent_path(@agent), class: "btn btn-default" %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<% content_for :modals do %>
  <%= render 'zensus/appellations/new_modal' %>
<% end %>