<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Zensus', zensus_path) %>
  <%= content_tag :li, link_to('Agents', zensus_agents_path) %>
  <%= content_tag :li, @agent.default_name, class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <%= render partial: "zensus/#{@agent.class.name.demodulize.downcase.pluralize}/show", agent: @agent %>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('angle-double-up', text: 'All agents'), zensus_agents_path, class: 'list-group-item' %>
          <%= link_to fa_icon('angle-double-up', text: 'All events'), zensus_events_path, class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>