<% if style == 'table' %>
  <tr id="document-<%= document.id %>">
    <td>
      <%= content_tag :div, class: 'row' do %>
        <%= content_tag :h4, class: 'col-sm-9', style: 'margin-top:3px; margin-bottom:5px;' do %>
          <%= link_to document.repository.name_tree.join('/'), [document.repository.try(:owner), document.repository, :documents] if name_tree %>
          <%= link_to [document.repository.owner, document.repository, document] do %>
            <%= content_tag :span, document.title, class: 'text-strong' %>
          <% end %><br>
          <small><%= pluralize(document.word_count, 'word') %> / <%= pluralize(document.char_count, 'char') %></small>
        <% end %>
        <%= content_tag :div, class: 'col-sm-3' do %>
          <%= content_tag :span, class: 'pull-right text-small text-strong' do %>
            <%= link_to fa_icon('edit'), [:edit, document.repository.owner, document.repository, document] if can?(:update, document) %>
            <%= link_to fa_icon('times'), [document.repository.owner, document.repository, document], method: :delete, style: 'margin-left:3px;' if can?(:destroy, document) %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :div, style: 'margin-bottom:2px;margin-top:5px;', class: 'row' do %>
        <%= content_tag :div, class: 'col-md-6 text-gray text-small' do %>
          <%= link_to background_image_div(document.creator, :small_thumb, {class: 'author-avatar organization-member-avatar', style: 'height:20px;width:20px;background-position:center;'}), document.creator.namespace %>
          <%= link_to document.creator.name, document.creator.namespace, class: 'text-strong' %>
          created this <%= content_tag :span, "#{distance_of_time_in_words(document.created_at, Time.now)} ago", title: document.created_at %>.<br>
          Versions: <%= document.drafts.size %>
          <% if document.published? %>
            &mdash;
            <%= link_to document.publisher.name, document.publisher.namespace %> published this 
            <%= content_tag :span, "#{distance_of_time_in_words(document.published_at, Time.now)} ago", title: document.published_at %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: 'col-md-6' do %>
          <% document.authors.each do |author| %>
            <%= link_to background_image_div(author, :small_thumb, {class: 'author-avatar organization-member-avatar', style: 'height:20px;width:20px;background-position:center;'}), author.namespace, title: author.name %>
          <% end if document.authors.size > 1 || document.authors.first != document.creator %>
        <% end %>
      <% end %>

    </td>
  </tr>
<% end %>
