<% title 'Documents \\ ', false %>

<div class="wrapper documents">
  <%= content_tag :div, class: "row documents-header" do %>
    <div class="col-md-5">
      <%= form_tag [@namespace, @repository, :documents], method: :get, class: "" do %>
        <%= search_field_tag 'q', params[:q], placeholder: "Search documents", class: "form-control", autofocus: true %>
        <%= hidden_field_tag 'sorted_by', params[:sorted_by] if params[:sort_by] %>
      <% end %>
      <%= content_tag :div, style: 'margin-top:10px;' do %>
        <%= link_to fa_stacked_icon('inverse times', base: 'square', text: 'Clear current search query, and sorting', style: 'font-size:.6em;'), [@namespace, @repository, :documents], class: 'no-link text-strong text-small', style: 'color:#565656;' %>
      <% end if params[:q] %>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <%= link_to 'New Document', new_namespace_repository_document_path(@namespace, @repository), class: 'btn btn-default text-strong pull-right' if can?(:create, @repository.documents.build) %>
    </div>
  <% end %>

  <div class="row --spacious-20">
    <div class="col-md-10 documents-table">
      <table class="table table-bordered table-hover">
        <thead style="background-color:#F5F5F5;">
        <tr>
          <th style="font-weight: normal;">
            <%= content_tag :div, class: "dropdown pull-right", style: "display:inline;" do %>
              <%= link_to '', class: "dropdown-toggle no-link text-strong", style: "cursor: pointer;color:#565656;", id: "sort-options", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} do %>
                Sort
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu" aria-labelledby="sort-options">
                <%= content_tag :li, "Sort by", class: 'dropdown-header', style: 'margin-left:10px;' %>
                <% Writer::Document.options_for_sorted_by.each do |sort_option| %>
                  <%= content_tag :li do %>
                    <%= link_to("#{fa_icon((params[:sorted_by] == sort_option.last) ? 'check' : '', style: 'margin-left:-10px;width:2rem;')}#{sort_option.first}".html_safe, [@namespace, @repository, :documents, sorted_by: sort_option.last, q: params[:q]]) %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>

          </th>
        </tr>
        </thead>
        <tbody>
          <%= render @results, name_tree: false, style: 'table' %>
        </tbody>
      </table>
    </div>
    <div id="pagination-results">
      <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>