<% title "#{@document.title} \\ Documents \\ #{@repository.name} \\ #{@namespace.name}", false %>

<div class="row document-wrapper" style="">
  <div class="col-md-10 col-centered">
    <%= content_tag :div, class: '--spacing-20 clearfix' do %>
      <%= content_tag :span, @document.title, class: 'text-strong' %>
      <%= content_tag :span, class: 'pull-right text-small text-strong' do %>
        <%= form_for @document, url: publish_namespace_repository_document_path(@document.repository.owner, @document.repository, @document), method: :put, html: {style: 'display:inline;'} do |f| %>
          <%= button_tag(value: @document.published? ? 'depublish' : 'publish', class: "btn btn-default btn-sm text-strong", data: { disable_with: "Please wait..." }) do %>
            <%= @document.published? ? fa_icon('undo', text: 'Depublish') : fa_icon('check', text: 'Publish now!') %>
          <% end %>
        <% end if can?(:publish, @document) %>
        <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @document.repository.owner, @document.repository, @document], class: 'btn btn-default btn-sm text-strong' if can?(:update, @document) %>
        <%= link_to fa_icon('times', text: 'Remove'), [@document.repository.owner, @document.repository, @document], method: :delete, class: 'btn btn-default btn-sm text-strong' if can?(:destroy, @document) %>
        <%= link_to fa_icon('bookmark', text: 'Categorize'), '', data: {toggle: 'modal', target: "#categorization", disable_with: "Waiting for dialog..."}, class: 'btn btn-default btn-sm text-strong', style: 'color:#333;', title: 'Publish to category', id: 'categorization-open' if can?(:categorize, @document) %>
      <% end %>
      <div class="row --spacious-10">
        <%= content_tag :div, class: 'col-md-8 text-gray text-small' do %>
          <%= link_to background_image_div(@document.creator, :small_thumb, {class: 'author-avatar organization-member-avatar', style: 'height:20px;width:20px;background-position:center;'}), @document.creator.namespace %>
          <%= link_to @document.creator.name, @document.creator.namespace, class: 'text-strong' %>
          created this <%= content_tag :span, "#{distance_of_time_in_words(@document.created_at, Time.now)} ago", title: @document.created_at %>.<br>
          Versions: <%= @document.drafts.count %>
          <% if @document.published? %>
            &mdash;
            <%= link_to @document.publisher.name, @document.publisher.namespace %> published this 
            <%= content_tag :span, "#{distance_of_time_in_words(@document.published_at, Time.now)} ago", title: @document.published_at %>
          <% end %>
        <% end %>
        <%= content_tag :div, class: 'col-md-4' do %>
          <% @document.authors.each do |author| %>
            <%= link_to background_image_div(author, :small_thumb, {class: 'author-avatar organization-member-avatar', style: 'height:20px;width:20px;background-position:center;'}), author.namespace, title: author.name %>
          <% end if @document.authors.count > 1 || @document.authors.first != @document.creator %>
        <% end %>
      </div>
      <hr>
    <% end %>
    <%= content_tag :div, raw(@document.content), class: 'fr-view --spacing clearfix' %>

    <%= content_tag :div, class: 'panel panel-default', id: 'referencings' do %>
      <div class="panel-heading text-strong text-gray">
        <%= fa_icon('share-alt') %> References
        <%= content_tag :span, @document.references_count, class: 'badge pull-right', style: 'background-color:#777;' %>
      </div>
      <div class="panel-body">
        <% @document.referencings.each do |reference| %>
          <%= render 'references/reference', reference: reference %>
        <% end %>
      </div>
    <% end if @document.referencings.any? %>
    <%= content_tag :div, class: 'panel panel-default', id: 'referenceables' do %>
      <div class="panel-heading text-strong text-gray">
        <%= fa_icon('file') %> Attachments
        <%= content_tag :span, @document.files.count, class: 'badge pull-right', style: 'background-color:#777;' %>
      </div>
      <ul class="list-group" id="files-list">
        <% @document.referenceables.where(referenceable_type: 'Raw::FileUpload').each do |reference| %>
          <%= render "#{reference.referenceable.to_partial_path}", reference.referenceable.class.name.demodulize.underscore.to_sym => reference.referenceable, display: :list, version: :small, referencor: reference.referencor %>
        <% end %>
      </ul>
    <% end if @document.files.any? %>
  </div>
</div>

<%= content_for :modals do %>
  <div class="modal fade" id="categorization" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Categorize this document</h4>
        </div>
        <div class="modal-body">
          <p class="text-gray">Categorizing this document will make it available as a site-wide blog / help or dev page.</p>
          <%= simple_form_for @document, url: categorize_namespace_repository_document_path(@namespace, @repository, @document), method: :put do |f| %>
            <%= f.association :blog_threads, as: :check_boxes %>
            <%= f.association :help_categories, as: :check_boxes %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>