<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Vocabularies', vocab_path) %>
  <%= content_tag :li, "Search results", class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <table class="table table-simple table-responsive">
          <tbody>
            <%= render @results %>
          </tbody>
        </table>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="vocab-search">
          <%= form_tag vocab_search_path, method: :get, class: "" do %>
            <%= search_field_tag 'q', params[:q], placeholder: "Search in all concepts ...", class: "form-control", autofocus: true %>
          <% end %>
        </div>
        <%= content_tag :div, link_to('Get an overview.', vocab_path, class: 'text-small'), class: 'links --spacious-10' %>
      <% end %>
    </div>
  </div>
<% end %>