<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image_data %>
    <%= f.input :description %>
    <%= f.input :data_published, hint: "If checked, all data in connected data pools which is associated as 'write' will be public available." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
