<% title 'Projects', false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, 'Projects', class: 'active' %>
<% end %>

<% content_for :sidebar do %>
  <%= content_tag :div, class: '', style: 'margin-bottom: 20px;' do %>
    <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
  <% end if can? :create, Project %>

  <%= content_tag :div do %>
    <%= link_to 'View all read access applications', oread_applications_path if can? :read, Oread::Application %>
    <%= ' | ' if can?(:read, Oread::Application) && can?(:read, Doorkeeper::Application) %>
    <%= link_to 'View all write access applications', oauth_applications_path if can? :read, Doorkeeper::Application %>
  <% end if user_signed_in? %>

<% end %>

<div class="list-group">
  <%= render @projects %>
</div>