<% title 'Projects', false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, 'Projects', class: 'active' %>
<% end %>

<% content_for :sidebar do %>
  <%= content_tag :div, class: '', style: 'margin-bottom: 20px;' do %>
    <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
  <% end if can? :create, Project %>

  <%= render 'shared/links' %>

<% end %>

<div class="list-group">
  <%= render @projects %>
</div>