<% title @project.name %>

<% content_for :buttons do %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_project_path(@project), class: 'btn btn-default' if can? :update, @project %>
  <%= link_to fa_icon('remove', text: 'Delete'), @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if can? :destroy, @project %>
<% end if can? :create, Project %>

<p>
  <strong>Image data:</strong>
  <%= @project.image_data %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<hr>

<%= content_tag :div, id: "project-#{@project.id}-oread_accessibilities" do %>
  <h3>Read access</h3>
  <% for accessibility in @project.oread_accessibilities do %>
    <div class="media">
      <div class="media-left">
        <%= link_to accessibility.oread_application do %>
          <%= image_tag accessibility.oread_application.image_data.thumb_medium.url if accessibility.oread_application.image_data? %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to accessibility.oread_application.name, accessibility.oread_application %>
        </h4>
        <p><%= accessibility.oread_application.description %></p>
      </div>
    </div>
    <hr>
  <% end %>
<% end if @project.oread_accessibilities.any? %>

<%= content_tag :div, id: "project-#{@project.id}-oauth_accessibilities" do %>
  <h3>Oauth write access</h3>
  <% for accessibility in @project.oauth_accessibilities do %>
    <div class="media">
      <div class="media-left">
        <%= link_to oauth_application_path(accessibility.oauth_application) do %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to accessibility.oauth_application.name, oauth_application_path(accessibility.oauth_application) %>
        </h4>
        <p><%= accessibility.oauth_application.inspect %></p>
      </div>
    </div>
    <hr>
  <% end %>
<% end if @project.oauth_accessibilities.any? %>


<p><%= link_to 'View all projects', projects_path %>





<% content_for :sidebar do %>
  <h4>
    Members in this project
    <%= link_to 'Add Member', new_project_membership_path(@project), class: 'btn btn-default btn-sm pull-right' %>
  </h4>
  <%= content_tag :div, style: 'margin-top:20px;' do %>
    <ul>
      <% for membership in @project.memberships do %>
        <li>
          <%= membership.user.display_name %> (<%= membership.role %>)
          <%= content_tag :span do %> 
            <%= link_to fa_icon('edit'), [:edit, @project, membership] %> | 
            <%= link_to fa_icon('remove'), [@project, membership], method: :delete, confirm: 'Are you sure?' %>
          <% end unless membership.is_owner? %>
        </li>
      <% end %>
    </ul>
  <% end if @project.memberships.any? %>

<% end %>