<% title @project.name %>

<% content_for :buttons do %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_project_path(@project), class: 'btn btn-warning' if can? :update, @project %>
  <%= link_to fa_icon('remove', text: 'Delete'), @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, @project %>
<% end if can? :create, Project %>

<div>
  <%= image_tag @project.image_url(:banner), class: 'img-responsive', style: 'width: 100%' %>
</div>

<div style="margin-top:20px;">
  <%= markdown(@project.description) %>
</div>

<hr>

<%= content_tag :div, id: "project-#{@project.id}-oread_accessibilities" do %>
  <h4>Read access through registered apis</h4>
  <% for accessibility in @project.oread_accessibilities do %>
    <div class="media">
      <div class="media-left">
        <%= link_to accessibility.oread_application do %>
          <%= image_tag accessibility.oread_application.image_url(:thumb), style: 'width:100px;' %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to accessibility.oread_application.name, accessibility.oread_application %>
        </h4>
        <p><%= accessibility.oread_application.description %></p>
      </div>
    </div>
    <hr>
  <% end %>
<% end if @project.oread_accessibilities.any? %>

<%= content_tag :div, id: "project-#{@project.id}-oauth_accessibilities" do %>
  <h4>Write access through babili</h4>
  <% for accessibility in @project.oauth_accessibilities do %>
    <div class="media">
      <div class="media-left">
        <%= link_to oauth_application_path(accessibility.oauth_application) do %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to accessibility.oauth_application.name, oauth_application_path(accessibility.oauth_application) %>
        </h4>
        <p><%= accessibility.oauth_application.uid %></p>
      </div>
    </div>
    <hr>
  <% end %>
<% end if @project.oauth_accessibilities.any? %>

<%= link_to 'View all projects', projects_path if can? :read, Project %>
<%= ' | ' if can?(:read, Oread::Application) && can?(:read, Project) %>
<%= link_to 'View all readable applications', oread_applications_path if can? :read, Oread::Application %>
<%= ' | ' if can?(:read, Oread::Application) && can?(:read, Doorkeeper::Application) %>
<%= link_to 'View all write access applications', oauth_applications_path if can? :read, Doorkeeper::Application %>






<% content_for :sidebar do %>
  <h4>
    Members in this project
    <%= link_to 'Add Member', new_project_membership_path(@project), class: 'btn btn-success btn-sm pull-right' if can? :update, @project %>
  </h4>
  <%= content_tag :div, style: 'margin-top:20px;' do %>
    <% for membership in @project.memberships do %>
      <div class="media">
        <div class="media-left">
          <%= link_to membership.user.profile do %>
            <%= image_tag membership.user.profile.image_url(:small_thumb), class: "media-object", style: 'height:50px;' %>
          <% end %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><%= membership.user.name %></h5>
          <span class="text-muted"><%= membership.role %></span>
          <%= content_tag :span, class: 'pull-right' do %> 
            <%= link_to fa_icon('edit'), [:edit, @project, membership] if can?(:update, membership) %>
            <%= ' | ' if can?(:update, membership) && can?(:destroy, membership) %>
            <%= link_to fa_icon('remove'), [@project, membership], method: :delete, confirm: 'Are you sure?' if can?(:destroy, membership) %>
          <% end unless membership.is_owner? %>
        </div>
      </div>      
    <% end %>
  <% end if @project.memberships.any? %>

<% end if can? :read, @project %>