<% title @project.name, false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, link_to('Projects', projects_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="row">
    <div class="col-md-5">
      <%= render 'project', project: @project, banner: true, actions: true, no_description: true %> 

      <%= content_tag :div, id: "project-#{@project.id}-oauth_accessibilities", class: '--spacious' do %>
        <h4 class="subhead --spacious">
          Applications
          <%= content_tag :span, @project.oauth_accessibilities.count, class: 'badge' %>
        </h4>
        <p class="text-muted">
          The members of this project can <strong>read &amp; edit</strong> data in the following babili-authenticated-applications marked with this project/group.
        </p>
        <% for accessibility in @project.oauth_accessibilities do %>
          <%=  render accessibility.oauth_application %>

        <% end %>
      <% end if @project.oauth_accessibilities.any? %>

    </div>

    <div class="col-md-7">

      <%= content_tag :div, class: 'row' do %>
        <%= content_tag :div, class: 'col-md-12' do %>
          <h4 class="subhead">
            Memberships
            <%= content_tag :span, @project.memberships.count, class: 'badge' %>
          </h4>
        <% end %>
        <div class="list-group">
          <% for membership in @project.memberships do %>
            <div class="col-md-6" style="margin-bottom: 20px;">
              <%= content_tag :div, id: "user-#{membership.user.id}", class: 'media' do %>
                <%= link_to membership.user.profile, class: 'list-group-item' do %>
                  <div class="media-left">
                    <%= background_image_div(membership.user.profile, :small_thumb, {class: 'media-object img-circle', style: 'height:50px;width:50px; background-position:center;'}) %>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><%= membership.user.name %></h5>
                    <span class="text-muted"><%= membership.role %></span>
                  </div>
                  <div class="media-right">
                    <%= content_tag :span, fa_icon('universal-access'), data: {toggle: "tooltip", placement: "left"}, title: "Project administrator" if membership.role.in?(['Admin', 'Owner']) %>
                  </div>
                <% end %>      
              <% end %>
            </div>
          <% end %>
        </div>
      <% end if @project.memberships.any? %>

      <h4 class="subhead --spacious">
        About
        <%= link_to fa_icon('question-circle'), 'javascript:void(0)', 
          rel: 'popover',
          class: 'pull-right',
          data: { 
            toggle: "popover", 
            placement: "left",
            trigger: 'focus',
            container: 'body',
            html: true,
            title: 'Was ist ein Projekt?',
            content: "Projekte sind Gruppen von Personen, die sich durch ein gemeinsames Interesse auszeichen. Weitere Informationen
              finden Sie unter #{link_to 'settings projects', settings_projects_path}" }
        %>
      </h4>
      <%= content_tag :div, markdown(@project.description), id: 'projects-description' %>





  </div>
</div>
<% end %>