<% title "Discussions \\ #{@repository.name} \\ #{@namespace.name}", false %>

<%= content_tag :div, class: "row" do %>
  <div class="col-md-5">
    <%= form_tag [@namespace, @repository, @entry, :discussion, :threads], method: :get, class: "" do %>
      <%= search_field_tag 'q', params[:q], placeholder: "Search discussions", class: "form-control", autofocus: true %>
      <%= hidden_field_tag 'sorted_by', params[:sorted_by] if params[:sort_by] %>
    <% end %>
    <%= content_tag :div, style: 'margin-top:10px;' do %>
      <%= link_to fa_stacked_icon('inverse times', base: 'square', text: 'Clear current search query, and sorting', style: 'font-size:.6em;'), [@namespace, @repository, @entry, :discussion, :threads], class: 'no-link text-strong text-small', style: 'color:#565656;' %>
    <% end if params[:q] %>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <%= link_to 'New Discussion', [:new, @namespace, @repository, @entry, :discussion, :thread], class: 'btn btn-default text-strong pull-right' if can?(:create, @repository.threads.build) %>
  </div>
<% end %>

<div class="row --spacious-20">
  <div class="col-md-12">
    <div id='threads'>
      <table class="table table-bordered table-hover">
        <thead style="background-color:#F5F5F5;">
        <tr>
          <th style="font-weight: normal;">
            <%= link_to [@namespace, @repository, @entry, :discussion, :threads, q: 'is:open'], style: 'color:#565656;', class: "no-link#{' text-strong' if params[:q] && params[:q].include?('is:open')}" do %>
              <%= fa_stacked_icon('exclamation', base: "circle-o", class: 'text-small', style: 'font-size:.7em;') %>
              <%= @threads.opend.count %> Open
            <% end %>
            <%= link_to [@namespace, @repository, @entry, :discussion, :threads, q: 'is:closed'], style: 'color:#565656;margin-left:10px;', class: "no-link#{' text-strong' if params[:q] && params[:q].include?('is:closed')}" do %>
              <%= fa_stacked_icon('check', base: "circle-o", class: 'text-small', style: 'font-size:.7em;') %>
              <%= @threads.closed.count %> Closed
            <% end %>
            <%= content_tag :div, class: "dropdown pull-right", style: "display:inline;" do %>
              <%= link_to '', class: "dropdown-toggle no-link text-strong", style: "cursor: pointer;color:#565656;", id: "sort-options", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} do %>
                Sort
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu" aria-labelledby="sort-options">
                <%= content_tag :li, "Sort by", class: 'dropdown-header', style: 'margin-left:10px;' %>
                <% Discussion::Thread.options_for_sorted_by.each do |sort_option| %>
                  <%= content_tag :li do %>
                    <%= link_to("#{fa_icon((params[:sorted_by] == sort_option.last) ? 'check' : '', style: 'margin-left:-10px;width:2rem;')}#{sort_option.first}".html_safe, [@namespace, @repository, @entry, :discussion, :threads, sorted_by: sort_option.last, q: params[:q]]) %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>

          </th>
        </tr>
        </thead>
        <tbody>
          <%= render @results, name_tree: false %>
        </tbody>
      </table>
    </div>
    <div id="pagination-results">
      <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>