<%= simple_form_for(@application) do |f| %>
  
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
  
      <div class="row">
        <%= content_tag :div, class: "col-md-12" do %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :host %>
            <%= f.input :port %>
            <%= f.input :search_path %>
            <%= f.input :description %>
            <%= f.association :owner, 
              collection: User.all, 
              include_blank: false, 
              hint: "After changing this to someone else you won't be able to make changes anymore." unless @application.new_record? %>

            <div style="margin: 10px 0;">
              <%= f.hidden_field :image, value: @application.cached_image_data %>
              <%= f.file_field :image %>
            </div>
          </div>
        <% end %>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <hr>
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', (@application.new_record? ? oread_applications_path : @application), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
