<%= simple_form_for [:settings, :admin, @application] do |f| %>
  
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
  
      <div class="row">
        <%= content_tag :div, class: "col-md-12" do %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :uid, label: 'Host id' %>
            <%= f.input :host, hint: 'Complete base_url with schema, like: http://xyz.babylon-online.org' %>
            <%= f.input :port, hint: 'typically this is 80.' %>
            <%= f.input :search_path, hint: 'The API path to query and add the query params to. Like: /api/objects/search.json' %>
            <div>
              <%= f.simple_fields_for :repository_classes do |r| %>
                <%= render 'repository_class_fields', f: r %>
              <% end %>
              <%= link_to_add_association fa_icon('plus', text: 'class'), f, :repository_classes, class: 'btn btn-default btn-sm text-strong' %>
            </div>
            <%= f.input :description %>
            <%= f.input :enroll_users_default, as: :boolean %>


                <%= f.hidden_field :image, value: @application.cached_image_data %>
                <%= f.input :image, as: :file %>

          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <hr>
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', settings_admin_oread_applications_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
