      <div class="row" id="oread-accessibilities">
        <%= f.label 'Read access', class: 'col-sm-3 control-label' %>
        <div class="col-md-9">
          <table class="table table-bordered" style="margin-bottom: 10px;">
            <thead>
              <tr>
                <th>Accessor</th>
                <th>Granted</th>
                <th>Expires at</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="line_items">
              <%= f.simple_fields_for :oread_accessibilities do |id| %>
                <%= render 'oread_accessibility_fields', f: id %>
              <% end %>
            </tbody>
          </table>
          <div class="links">
            <%= link_to_add_association fa_icon('plus', text: 'accessor'), f, :oread_accessibilities, data: {"association-insertion-node": "tbody.line_items", "association-insertion-method": "append"}, class: 'btn btn-success' %>
          </div>
        </div>
      </div>




<tr class="nested-fields">
  <td>
    <%= f.input :accessor, 
      collection: @accessors, 
      selected: f.object.accessor, 
      label_method: :name, 
      value_method: :accessible, 
      include_blank: true,
      disabled: !f.object.new_record?,
      label: false %>
  </td>
  <td class="text-center">
    <%= f.input :access_granted, label: false %>
  </td>
  <td>
    <%= f.input :access_expires_at, as: :date, html5: true, label: false %>
  </td>
  <td>
    <%= link_to_remove_association fa_icon('remove', text: 'remove'), f %>
  </td>
</tr>