<% title "Searchable applications", false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, 'Searchable applications', class: 'active'  %>
<% end %>


<% content_for :sidebar do %>
  <%= content_tag :div, class: '', style: 'margin-bottom: 20px;' do %>
    <%= link_to 'New Application', new_oread_application_path, class: 'btn btn-success' %>
  <% end if can? :create, Oread::Application%>

  <%= content_tag :div do %>
    <h4>Read accessible by you</h4>
    <%= render current_user.oread_applications.uniq if user_signed_in? %>

    <%= render 'shared/links' %>
    
  <% end if user_signed_in? %>

<% end %>

<div id="oread-applications-list">
  <p class="text-muted">Applications listet here will offer their data for keywords search.<p>
  <div class="list-group">
    <%= render @applications %>
  </div>
</div>
