<% title @application.name %>

<% content_for :buttons do %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_oread_application_path(@application), class: 'btn btn-warning' if can? :update, @application %>
  <%= link_to fa_icon('remove', text: 'Delete'), @application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, @application %>
<% end %>

<div class="oread-application" id="application-<%= @application.id %>">
  <div>
    <%= image_tag @application.image_url(:banner), class: 'img-responsive', style: 'width: 100%' %>
  </div>

  <div style="margin-top:20px;">
    <%= markdown(@application.description) %>
  </div>


  <div id="application-<%= @application.id %>-description">
    <p>
      API: <%= link_to @application.url, @application.url, target: '_blank' %><br>
      External link: <%= link_to @application.host, @application.host, target: '_blank' %>
    </p>
    <p>
      Administration/Owner: <%= @application.owner.try(:name) %>
    </p>
  </div>

  <% if current_user %>
    <div id="user-application-token" class="" style="padding-top:30px;">
      <h4>
        Personal Access Token
        <%= link_to 'Add personal access token', new_oread_application_token_path(@application), class: 'btn btn-success btn-sm pull-right', style: 'margin-bottom:5px;' if can? :create, Oread::AccessToken %>
      </h4>
      <% if @token %>
        <table class="table table-bordered table-responsive">
          <tr>
            <td><strong><%= @token.token %></strong></td>
            <td><%= @token.refresh_token %></td>
            <td><%= @token.expires_in %></td>
            <td><%= @token.token_type %></td>
            <td><%= @token.created_at %></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>

  <br>
  <%= link_to 'View all readable applications', oread_applications_path if can? :read, Oread::Application %>
  <%= ' | ' if can?(:read, Oread::Application) && can?(:read, Doorkeeper::Application) %>
  <%= link_to 'View all write access applications', oauth_applications_path if can? :read, Doorkeeper::Application %>

</div>

<% content_for :sidebar do %>
  <h4>
    Projects with access
    <%= link_to 'Add Project', new_oread_application_accessibility_path(@application), class: 'btn btn-success btn-sm pull-right' if can? :create, OreadAccessibility %>
  </h4>
  <% for accessibility in @application.accessibilities do %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag accessibility.project.image_url(:small_thumb) %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to accessibility.project.name, accessibility.project %>
          <%= link_to fa_icon('remove'), oread_application_accessibility_path(@application, accessibility), method: :delete, class: 'pull-right' if can? :destroy, accessibility %>
        </h4>
        <p class="small text-muted">
          Created on <%= accessibility.project.created_at.to_formatted_s(:long_ordinal) %>. <%= pluralize( accessibility.project.memberships.count, 'member' ) %>
        </p>
        <p style="font-size:90%;">
          <%= truncate(accessibility.project.description, length: 150, separator: ' ', escape: false) %><br>
        </p>
      </div>
    </div>

  <% end %>

<% end %>