<% title @application.name, false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('home', root_url) %>
  <%= content_tag :li, link_to('Searchable applications', oread_applications_path) %>
  <%= content_tag :li, @application.name, class: 'active' %>
<% end %>

<% content_for :sidebar do %>
  <%= content_tag :div, class: 'panel panel-warning' do %>
    <div class="panel-heading">
      <strong>You have admin priviledges on this application!</strong>
    </div>
    <div class="panel-body">
      <%= link_to fa_icon('edit', text: 'Administrate'), edit_oread_application_path(@application), class: 'btn btn-warning' if can? :update, @application %>
      <%= link_to fa_icon('remove', text: 'Delete'), @application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, @application %>
    </div>
  <% end if can?(:edit, @application) || can?(:destroy, @application) %>

  <%= content_tag :div, class: 'panel panel-info' do %>
    <div class="panel-heading">
      <strong>What is a search-/readable application?</strong>
    </div>
    <div class="panel-body">
      <p>
        Dies sind Applikationen die durchsuchbar sind. Insofern die Zugriffsrechte auf Daten dieser Applikationen begrenzt sind, 
        kann ein Zugriffstoken angegeben werden um Inhalte zusammen zu führen. Das Token ist personalisiert und wird über Schnittstellen 
        an über babylon-online.org authentifizierte Applikationen weiter gegeben.
      </p>
    </div>
  <% end %>
  

  <%= link_to 'View all readable applications', oread_applications_path if can? :read, Oread::Application %>
  <%= ' | ' if can?(:read, Oread::Application) && can?(:read, Doorkeeper::Application) %>
  <%= link_to 'View all write access applications', oauth_applications_path if can? :read, Doorkeeper::Application %>

<% end %>

<div class="row">
  <div class="col-md-5">
    <div class='panel panel-default' id="application-<%= @application.id %>-description">
      <%= image_tag @application.image_url(:small_banner), class: 'img-responsive', style: 'width: 100%' %>
      <div class="panel-body text-center">
        <h4><%= @application.name %></h4>
        <p class="small text-muted">Created on <%= @application.created_at.to_date.to_formatted_s(:long_ordinal) %>. <%= pluralize( @application.users.uniq.count, 'user' ) %></p>
      </div>
    </div>
    <div class='panel panel-default'>
      <div class="panel-body">
        <p>
          API: <%= link_to @application.url, @application.url, target: '_blank' %><br>
          External link: <%= link_to @application.host, @application.host, target: '_blank' %>
        </p>
        <p>
          Administration/Owner: <%= @application.owner.try(:name) %>
        </p>
      </div>
    </div>

  <% if current_user %>
    <div id="user-application-token" class="panel panel-default">
      <div class="panel-heading">
        <h4>
          Personal Access Token
          <%= link_to 'Add', new_oread_application_token_path(@application), class: 'btn btn-success btn-sm pull-right', style: '' if can? :create, Oread::AccessToken %>
        </h4>
      </div>
      <div class="panel-body">
        <% if @token %>
          <p><strong><%= @token.token %></strong></p>
          <td><%= @token.refresh_token %></td>
          <td><%= @token.expires_in %></td>
          <td><%= @token.token_type %></td>
          <td>
            <%= @token.created_at %>
            <%= link_to fa_icon('remove'), oread_application_token_path(@application, @token), method: :delete, class: 'pull-right' %>
          </td>
        <% end %>
      </div>
    </div>
  <% end %>

    <%= content_tag :div, class: 'list-group' do %>
    <h4>Users reading this</h4>
      <% for user in @application.users.uniq do %>
        <%= render partial: "/#{user.to_partial_path}", object: user %>    
      <% end %>
    <% end if @application.users.any? %>

  </div>

  <div class="col-md-7">


    <%= form_tag search_path, :method => 'get', class: "" do %>
      <div class="input-group">
        <span class="input-group-addon">
          <%= link_to fa_icon('search'), help_path(anchor: 'searching') %>
        </span>
        <%= search_field_tag :q, params[:q], placeholder: "Search #{@application.name} by Keyword", class: "form-control" %>
      </div>
    <% end %>

    <% if @results.present? %>
      results
    <% else %>
      <br>
      <h4>About</h4>
      <%= content_tag :div, markdown(@application.description), id: 'project-description' %>
    <% end %>
  </div>
</div>