<% title @application.name, false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, link_to('Collection applications', collections_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="row">
    <div class="col-md-5">
      <%= render 'application', application: @application, full: true, actions: true, no_description: true %>  
      <h4 class="subhead --spacious">
        About
        <%= link_to fa_icon('question-circle'), 'javascript:void(0)', 
          class: 'popover pull-right',
          data: { 
            toggle: "popover", 
            placement: "right",
            trigger: 'focus',
            container: 'body',
            html: true,
            title: 'What is a collection application?',
            content: "Dies sind Webseiten die durchsuchbar sind. Insofern die Zugriffsrechte auf Daten dieser Applikationen 
              begrenzt sind, kann ein Zugriffstoken angegeben werden um Inhalte zusammen zu führen. Das Token ist personalisiert 
              und wird über Schnittstellen an über babylon-online.org authentifizierte Applikationen weiter gegeben. Weitere Informationen
              finden Sie unter #{link_to 'settings collections', settings_oread_enrollments_path}" }
        %>
      </h4>
      <%= content_tag :div, markdown(@application.description), id: 'application-description', class: 'text-muted' %>

      <%= content_tag :div, class: 'list-group --spacious' do %>
        <h4>Enrollees <%= content_tag :span, @application.enrollees.count, class: 'badge' %></h4>
        <% for enrollee in @application.enrollees.limit(5) do %>
          <%= render partial: "/#{enrollee.person.to_partial_path}", object: enrollee.person %>    
        <% end %>
      <% end if @application.enrollees.any? %>
    </div>

    <div class="col-md-7">
      <h4>
        Collection preview
        <%= content_tag :span, class: 'text-small text-muted pull-right' do %>
          Find the full collection on:
          <%= link_to(@application.app_url, @application.app_url, target: '_blank', class: 'text-strong') %>
        <% end %>
      </h4>
      <%= form_tag oread_application_path(@application), :method => 'get', class: "hidden" do %>
        <div class="input-group">
          <span class="input-group-addon">
            <%= link_to fa_icon('search'), cms_help_pages_path %>
          </span>
          <%= search_field_tag :q, params[:q], placeholder: "Search #{@application.name} by Keyword", class: "form-control" %>
        </div>
      <% end %>

        <% if @results.present? %>
          <table class="table table-bordered table-responsive hidden" style="margin-top:20px;">
            <tbody>
              <% @results.each do |result| %>
                <tr>
                  <td>
                    <%= link_to result['full_entry'], result['links']['human'] %><br>
                    <!-- <%= content_tag :span, "#{result['type']}<br>".html_safe if result['type'] %> -->
                    <small><%= result['links']['human'] %></small>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <%= content_tag :p, "no results", class: 'bg-info hidden', style: 'padding: 15px; margin-top: 20px;' %>
        <% end %>

        <p class="text-small text-muted --spacious">
          Requested API: <%= link_to @application.url, @application.url, target: '_blank' %>
        </p>

      </div>
    </div>

<% end %>