<%= simple_form_for @article, 
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :author_ids, 
    collection: @creators, 
    label_method: :name, 
    value_method: :id, 
    label: 'Authors', 
    selected: @article.authors.map(&:id), 
    input_html: {
      multiple: true, 
      id: 'creator_names'
    } %>
  
  <%= f.input :year %>
  <%= f.input :month %>
  
  <%= f.input :title, as: :text %>
  
  <hr>

  <%= f.input :journal, 
    collection: Biblio::Journal.all, 
    label_method: :name_abbr, 
    value_method: :id, 
    include_blank: false, 
    label: "Journal", 
    selected: @article.journal.try(:id), 
    input_html: {
      id: 'serie_name'
    } %>
  
  <%= f.input :volume %>
  <%= f.input :number %>
  <%= f.input :pages %>

  <hr>

  <%= f.input :note %>
  <%= f.input :key %>

  <%= f.input :url %>
  <%= f.input :doi %>
  <%= f.input :abstract, as: :text %>
    
  
    <div class="row">
      <div class="col-md-6">
        <hr>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', (@article.new_record? ? sti_entry_path(@type) : sti_entry_path(@type, @article)), class: "btn btn-default" %>
      </div>
    </div>

<% end %>
