<h3>
  <%= article.punctioned_title %>
</h3>
<h4 class="subtitle text-gray">
  by <%= article.authors_list(nil, false) %> <%= article.year %>
</h4>

<ul class="list-unstyled">
    <%= content_tag :li, content_tag(:span, link_to(article.journal.name, article.journal ) + ('. ' unless article.volume.present?), class: 'journal-name') %>
    <%= content_tag :li, content_tag(:span, article.volume, class: 'journal-volume' + ', ') if article.volume.present? %>
    <%= content_tag :li, article.number + ', ' if article.number.present? %>
    <%= content_tag :li, article.pages + '. ' if article.pages.present? %>
    <%= content_tag :li, article.doi.present? ? article.doi : (article.url.present? ? article.url : '') if article.doi || article.url %>
</ul>