<% title 'Vocabularies' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to(@namespace.name, @namespace) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <%= render @schemes %>
        </div>
        <%= link_to 'Get an overview.', vocab_path, class: 'text-small' %>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
          <%= link_to fa_icon('plus', text: "Create a new vocabulary scheme".html_safe), [:new, @namespace, :vocab, :scheme], class: 'btn btn-default text-strong pull-right' %>
      <% end %>
    </div>
  </div>
<% end %>

