<% title 'Vocabularies' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to(@namespace.name, @namespace) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <%= render @schemes if @schemes %>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('angle-up', text: @namespace.name), @namespace, class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>