<% content_for :container do %>
  <div class="wrapper vocab">
    <div class="row">
      <div class="col-md-12">
        <%= content_tag :h4, class: 'h-condensed --spacing-20 --spacious-20' do %>
          <%= link_to(background_image_div(@namespace.subclass, :small_thumb, {class: 'site-user-avatar'}), @namespace, title: @namespace.subclass.name, data: {toggle: "tooltip", placement: "bottom"}) %>
          <%= link_to @namespace.name, @namespace, class: '' %>
          <%= content_tag :span, ' # ', class: 'text-gray' %>
          <%= content_tag :span, link_to('vocabularies', namespace_vocab_schemes_path(@namespace)) %>
        <% end %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 main">
        <div id="vocabulary-scheme-<%= @scheme.id %>">
          <div class="heading-block">
            <%= content_tag :h3, style: 'margin-top:0px;' do %>
              <%= @scheme.title %>
              <small>[<%= @scheme.abbr %>]</small>
              <%= link_to fa_icon('trash', text: 'Delete'), [@namespace, :vocab, @scheme], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm text-strong pull-right', style: 'margin-left:5px;' if can?(:destroy, @scheme) %>
              <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @namespace, :vocab, @scheme], class: 'btn btn-default btn-sm text-strong pull-right' if can?(:update, @scheme) %>
            <% end %>
            <%= content_tag :p, polymorphic_url([@namespace, :vocab, @scheme]) %>
          </div>

          <div class="description-block --spacious" id="scheme-description-block-<%= @scheme.id %>">
            <table class="table table-simple">
              <tbody>
                <tr>
                  <td>Defintion</td>
                  <td><%= @scheme.definition %></td>
                </tr>
                <tr>
                  <td>Root concepts</td>
                  <td><%= @scheme.concepts.roots.map{ |concept| link_to(concept.name(@language), [@namespace, :vocab, @scheme, concept]) }.join(', ').html_safe %></td>
                </tr>
                <tr>
                  <td>Concepts count</td>
                  <td><%= link_to @scheme.concepts.count, [@namespace, :vocab, @scheme, :concepts] %></td>
                </tr>
                <tr>
                  <td>Abbreviation</td>
                  <td><%= @scheme.abbr %></td>
                </tr>
                <tr>
                  <td>Contributors</td>
                  <td><%= @scheme.contributors.map{|c| link_to(c.name, c.namespace)}.join(', ').html_safe %></td>
                </tr>
                <%= content_tag :tr do %>
                  <td>Namespace</td>
                  <td><%= link_to @scheme.namespace.name, @scheme.namespace %></td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="vocab-search">
          <%= form_tag namespace_vocab_scheme_search_path(@namespace, @scheme), method: :get, class: "" do %>
            <%= search_field_tag 'q', params[:q], placeholder: "Search in #{@scheme.abbr} concepts ...", class: "form-control", autofocus: true %>
          <% end %>
          <%= content_tag :div, link_to('View all concepts.', [@namespace, :vocab, @scheme, :concepts], class: 'text-small'), class: 'links --spacious-10' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

