<tr id="biblio-entry-<%= in_book.id %>">
  <td width="5%">
    <%= content_tag :span, fa_icon(in_book.icon), title: 'In book' %>
  </td>
  <td width="95%">
    <%= render 'biblio/shared/actions', entry: in_book, referencation: local_assigns[:referencation], actions: local_assigns[:actions] %>
    <%= content_tag :span, link_to(in_book.citation, in_book), class: 'text-strong' %><br>
    <%= content_tag :span, in_book.bibliographic(current_user.try(:person).try(:csl), 'en-US'), class: 'text-small' %>
  </td>
</tr>