<% content_for :content do %>
  <div class="wrapper articles" style="padding-top: 50px;">
    <%= content_tag :div, class: "pagehead", style: "background-color:#FAFBFC;border-bottom:1px solid #e1e4e8;" do %>
      <div class="container">
        <h3>
          <%= link_to 'Help', writer_category_help_categories_path, style: 'color:#0366d6', class: 'no-link' %>
          <% @category.self_and_ancestors.reverse.each do |category| %>
            <%= content_tag :span, " / #{link_to(category.name, writer_category_help_category_path(category), style: 'color:#0366d6', class: 'no-link')}".html_safe, class: 'text-gray', style: 'font-size: 20px;' %>
            <%= content_tag :div, class: 'pull-right' do %>
              <%= link_to fa_icon('plus', text: 'Sub category'), new_writer_category_help_category_path(parent: category), class: 'btn btn-default btn-sm text-strong' if can?(:new, Writer::Category::HelpCategory) %>
              <%= link_to fa_icon('times', text: 'Remove Category'), writer_category_help_category_path(category), class: 'btn btn-default btn-sm text-strong', method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, category) %>
            <% end if category == @category %>
          <% end if @category && !@category.new_record? %>
          <%= content_tag :span, " / #{@article.try(:title)}", class: 'text-gray', style: 'font-size: 20px;' if @article %>
          <%= link_to fa_icon('plus', text: 'Root category'), new_writer_category_help_category_path, class: 'btn btn-default btn-sm text-strong pull-right' if !@category && can?(:new, Writer::Category::HelpCategory) %>
        </h3>
      </div>
    <% end %>
    <div class="container">
      <div class="row" style="padding-top: 20px;">
        <!-- Headline ? -->
      </div>

      <div class="row">

        <div class="col-sm-12">
          <%= yield %>
        </div>


      </div>
    </div>
  </div>
<% end %>

<script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<%= render template: "layouts/application" %>