<tr id="biblio-entry-<%= misc.id %>">
  <td width="5%">
    <%= content_tag :span, fa_icon(misc.icon), title: 'Misc' %>
  </td>
  <td width="95%">
    <%= content_tag :div, render('biblio/shared/actions', entry: misc, referencation: local_assigns[:referencation], actions: local_assigns[:actions]), class: 'pull-right' %>
    <%= content_tag :span, link_to(misc.citation, misc), class: 'text-strong' %><br>
    <%= content_tag :span, misc.bibliographic(current_user.try(:person).try(:csl), 'en-US'), class: 'text-small' %>
  </td>
</tr>