<div class="row">
  <div class="col-md-8">
    <h3>
      <%= book.title %><br>
      <small>by <%= book.authors.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ').html_safe %> <%= book.year %> <%= '(' + book.month + ')' if book.month.present? %></small>
    </h3>
    <ul class="list-unstyled">
      <%= content_tag :li, "Serie: #{serie_for(book)}".html_safe if book.serie.present? %>      
      <%= content_tag :li, "Publisher: #{link_to(book.publisher.try(:name), zensus_name_path(book.publisher))}".html_safe if book.publisher.present? %>
      <%= content_tag :li, "Place: #{book.places.map{ |p| link_to p.default_name, p }.join(', ')}".html_safe if book.places.any? %>
      <%= content_tag :li, "ISBN: #{book.print_isbn}" if book.print_isbn.present? %>
      <%= content_tag :li, doi_url(book), class: 'text-small' if book.doi || book.url %>
      
    </ul>
    <%= content_tag :p, class: "text-gray" do %>
      <%= content_tag :span, 'Note: ', class: 'text-strong' %> <%= book.note %>
    <% end if book.note.present? %>

    <%= book.tag_list.map{|tag| content_tag(:span, tag, class: 'label label-default')}.join(' ').html_safe %>
  </div>
  <div class="col-md-4">
    <%= render 'biblio/referencations/add_repository', entry: book %>
    <%= book.repositories.map{|repo| content_tag(:span, link_to(repo.name, namespace_repository_biblio_references_path(repo.owner, repo), style: 'color: white;'), class: 'label label-default')}.join(' ').html_safe %>
  </div>
</div>

<%= content_for :contents do %>
  <div class='book-contents'>
    <div class="row">
      <div class="col-md-7">
        <p class="text-gray text-small">
          <%= format_citation(book) %>
        </p>
        <%= content_tag :p, book.abstract %>
        <table class="table table-simple">
          <tbody>
            <%= render book.in_books.sort_by(&:pages) %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= content_tag :pre, book.to_bib, style: 'font-size:smaller;' %>
      </div>
    </div>
  </div>
<% end %>
