<%= content_tag :div do %>
  <%= link_to fa_icon('plus', text: 'Accessibility'), new_oauth_application_accessibility_path(@oauth_application), class: 'btn btn-default text-strong pull-right' %>
<% end if can?(:create_accessibility, @oauth_application) %>

<%= content_tag :ul, class: 'nav nav-pills' do %>
  <%= content_tag :li, link_to(@oauth_application.name, edit_oauth_application_path(@oauth_application)), class: "#{' active text-strong' if current_page?(edit_oauth_application_path(@oauth_application))}" %>
  <%= content_tag :li, link_to('Scopes', oauth_application_accessibilities_path(@oauth_application)), class: "#{' active text-strong' if current_page?(oauth_applications_path)}" %>
  <%= content_tag :li, link_to('Accessors', oauth_application_accessibilities_path(@oauth_application)), class: "#{' active text-strong' if current_page?(oauth_application_accessibilities_path(@oauth_application))}" %>
<% end %>


<div class="row">
  <div class="col-md-12">

    <% @accessibilities.each do |accessibility| %>
      <%= render partial: accessibility.accessor.to_partial_path, object: accessibility.accessor if accessibility.accessor %>
      <%= render partial: 'oauth_accessibilities/grant_panel', locals: {grant: @oauth_application.grants(accessibility.accessor)} if accessibility.accessor %>
      
      <%= link_to fa_icon('pencil', text: 'Edit'), edit_oauth_application_accessibility_path(@oauth_application, accessibility), class: 'btn btn-default btn-xs' if can?(:update_accessibility, @oauth_application) %>
      <%= link_to fa_icon('remove', text: 'Delete'), oauth_application_accessibility_path(@oauth_application, accessibility), method: :delete, class: 'btn btn-default btn-xs' if can?(:destroy_accessibility, @oauth_application) %>
      <hr>
    <% end %>
    <%= link_to 'Update Client', oauth_application_send_accessibilities_to_clients_path(@oauth_application), remote: true, class: 'btn btn-default btn-sm', style: 'margin-top:10px;' if can?(:update, @oauth_application) %>
  </div>
</div>