<h1>New oauth Accessibility</h1>

<%= simple_form_for([@application, @oauth_accessibility], url: oauth_application_accessibilities_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :project_id, 
      collection: @projects, 
      selected: @oauth_accessibility.project_id, 
      label_method: :name, 
      value_method: :id, 
      include_blank: false,
      disabled: !@oauth_accessibility.new_record? %>
    <%= f.hidden_field :oauth_application_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Cancel', :back, class: "btn btn-default" %>
  </div>
<% end %>