<% title "New Accessibility for #{@oauth_application.name}", false %>

<%= simple_form_for([@oauth_application, @oauth_accessibility], url: oauth_application_accessibilities_path) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :oauth_application_id %>

  <div class="form-inputs">
    <%= f.input :accessor, 
      collection: @accessors, 
      selected: @oauth_accessibility.accessor, 
      label_method: :name, 
      value_method: :accessible, 
      include_blank: false,
      disabled: !@oauth_accessibility.new_record? %>
    <%= f.input :can_manage %>
    <%= f.input :can_create %>
    <%= f.input :can_read %>
    <%= f.input :can_update %>
    <%= f.input :can_destroy %>
    <%= f.input :can_comment %>
    <%= f.input :can_publish %>
   
  </div>
  

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Cancel', oauth_application_path(@oauth_application), class: "btn btn-default" %>
  </div>
<% end %>