<% title "#{@serie.citation} \\ Journals \\ Bibliography " %>

<% content_for :container do %>
  <div class="wrapper biblio" id="biblio-entry-<%= @serie.id %>">

    <div class="row">
      <div class="col-sm-12">
        <h3>
          <%= @serie.title %> <%= '[' + @serie.abbr + ']' if @serie.abbr.present? %>
          <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @serie], class: 'btn btn-default btn-sm text-strong pull-right' if can?(:update, @serie) %><br>
          <%= content_tag :small, "Edited by: #{@serie.creators_name_list.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ')}".html_safe if @serie.creators.any? %>
        </h3>
        <p class="text-gray">
          <%= @serie.note %>
        </p>
        <ul class="list-unstyled">
          <%= content_tag :li, 'Issn: ' + @serie.print_issn if @serie.print_issn.present? %>
        </ul>
        <%= @serie.tag_list.map{|tag| content_tag(:span, tag, class: 'label label-default')}.join(' ').html_safe %>
      </div>
    </div>

    <div class='serie-contents'>
      <table class="table table-simple">
        <tbody>
          <%= render @serie.serials.sort_by{|x| [x.year, x.volume] }, show_actions: false %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>