<% content_for :content do %>
  <div class="wrapper repos">
    <div class="pagehead" style="padding-top: 60px; border-bottom: 1px solid #e1e4e8; background-color: #fafbfc;">
      <div class="container">
        <%= content_tag :h4, class: 'h-condensed --spacing-20 --spacious-20' do %>
          <%= fa_icon('archive', class: 'text-gray') %>
          <%= link_to @namespace.name, @namespace, class: '' %> / 
          <%= link_to @repository.name, [@namespace, @repository], class: 'text-strong' %>
        <% end %>
        <ul class="nav nav-tabs" role="tablist">
          <%= content_tag :li, link_to(fa_icon('folder-open', text: 'Insights'), [@namespace, @repository]), class: "#{'active' if current_page?([@namespace, @repository]) || current_page?([:edit, @namespace, @repository])}" %>
          <%= content_tag :li, link_to(fa_icon('table', text: 'Data'), [@namespace, @repository, :aggregation, :items]), class: "#{'active' if current_page?([@namespace, @repository, :aggregation, :items])}" %>
          <%= content_tag :li, link_to(fa_icon('comments', text: 'Discussions'), [@namespace, @repository, :discussion, :threads]), class: "#{'active' if current_page?([@namespace, @repository, :discussion, :threads]) || current_page?([:new, @namespace, @repository, :discussion, :thread]) || (current_page?([@namespace, @repository, :discussion, @thread]) if @thread.present?)}" %>
          <%= content_tag :li, link_to(fa_icon('file-text', text: 'Documents'), [@namespace, @repository, :documents]), class: "#{'active' if current_page?([@namespace, @repository, :documents])}" %>
          <%= content_tag :li, link_to(fa_icon('book', text: 'Bibliography'), [@namespace, @repository, :biblio, :references]), class: "#{'active' if current_page?([@namespace, @repository, :biblio, :references])}" %>
          <%= content_tag :li, link_to(fa_icon('cog', text: 'Settings'), [@namespace, @repository, :settings]), class: "#{'active' if current_page?([@namespace, @repository, :settings])}" if can?(:edit, @repository) %>
        </ul>
      </div>
    </div>

    <div class="container --spacing">
      <div class="row --spacious">
        <div class="col-md-12">
          <%= content_for?(:repo_layout) ? yield(:repo_layout) : yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>