<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Zensus', zensus_path) %>
  <%= content_tag :li, "Names", class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row names">
      <div class="col-sm-12 col-md-8 main">
        <div class="list-group">
          <%= render @appellations %>
        </div>
        <div id='names'>
          <table class="table table-simple">
            <tbody>

            </tbody>
          </table>
        </div>
        <div id="pagination-results">
          <%= will_paginate @appellations, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= render 'zensus/search/box' %>
          <%= link_to fa_icon('plus', text: 'New name'), new_zensus_name_path, class: 'list-group-item' if can?(:create, Zensus::Appellation) %>
          <%= link_to fa_icon('angle-double-right', text: 'Agents'), zensus_agents_path, class: 'list-group-item' %>
          <%= link_to fa_icon('angle-double-right', text: 'Events'), zensus_events_path, class: 'list-group-item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>