<p>
  Sehr geehrte, sehr geehrter <%= @name %>,<br>
  Ihre Mitteilung ist bei uns angekommen.
</p>

<p>
  <strong><%= @name %></strong> (<em><%= @from %></em>) schrieb am <%= @sent_at %><br><br>
  <%= @body %>
</p>


<br><br><br>
<p>
  babylon-online.org
</p>