<% title 'Security', false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<div class="subhead">
  <h4>Sessions</h4>
</div>
<p>This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
<table class="table table-simple" id="sessions">
  <tbody>
    <% @recent_sessions.each do |recent_session| %>
      <%= content_tag :tr, id: "session_id_#{recent_session.id}" do %>
        <td class="session-device">
          <%= content_tag :span, '', class: 'session-state-indicator recent' %>
          <%= content_tag :span, fa_icon("#{recent_session.device} 3x"), class: 'session-icon' %>
          <div class="session-details">
            <strong class="d-block"><%= recent_session.ip %></strong>
            <small class="text-muted">
              <% if recent_session.session_id == session[:auth_id] %>
                Your current session
              <% else %>
                Last accessed on <%= recent_session.updated_at %>
              <% end %>
            </small>
            <div class="session-details-more-info">
              <p><strong><%= recent_session.agent.name %></strong> on <%= recent_session.agent.platform.name %></p>
              <p>
                <strong>Signed in:</strong><br>
                <%= recent_session.created_at %>
              </p>
            </div>
          </div>
        </td>
        <td class="session-actions">
          <%= form_for recent_session, url: settings_security_user_session_path(recent_session), method: :delete, remote: true do |f| %>
            <%= f.submit 'Revoke', class: 'btn btn-sm btn-default text-strong pull-right' %>
          <% end unless recent_session.session_id == session[:auth_id] %>
        </td>
      <% end %>
    <% end if @recent_sessions %>
  </tbody>
</table>

<div class="subhead --spacious">
  <h4>Security history</h4>
</div>
<p>This is a security log of important events involving your account.</p>

<table class="table table-bordered" id="security-history">
  <tbody>
    <% @audits.each do |event| %>
      <%= content_tag :tr do %>
        <%= content_tag :td do %>
          <span class="text-strong"><%= event.action %></span>
          <span class="text-muted">
            <%= "&ndash; #{event.action_description}".html_safe if event.action_description.present? %>
            <%= " manipulated by (#{event.actor.name})" if event.actor != event.user %>
          </span>
          <span class="pull-right"><%= time_ago_in_words(event.created_at) %> ago</span>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>