<% title @organization.name, false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, link_to('Organizations', organizations_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="row">
    <div class="col-md-5">
      <%= render 'organizations/organization', organization: @organization, banner: true, actions: true, no_description: true %> 

      <%= content_tag :div, id: "organization-#{@organization.id}-oauth_accessibilities", class: '--spacious' do %>
        <h4 class="subhead --spacious">
          Applications
          <%= content_tag :span, @organization.oauth_accessibilities.count, class: 'badge' %>
        </h4>
        <p class="text-muted">
          The members of this team can <strong>read &amp; edit</strong> data in the following babili-authenticated-applications marked with this team.
        </p>
        <% for accessibility in @organization.oauth_accessibilities do %>
          <%=  render accessibility.oauth_application %>
        <% end %>
      <% end if @organization.oauth_accessibilities.any? %>

    </div>

    <div class="col-md-7">

      <%= content_tag :div, class: 'row' do %>
        <%= content_tag :div, class: 'col-md-12' do %>
          <h4 class="subhead">
            Memberships
            <%= content_tag :span, @organization.memberships.count, class: 'badge' %>
          </h4>
        <% end %>
        <div class="list-group">
          <% @organization.memberships.each do |membership| %>
            <div class="col-md-6" style="margin-bottom: 20px;">
              <%= content_tag :div, id: "person-#{membership.person.id}", class: 'media' do %>
                <%= link_to membership.person.namespace, class: 'list-group-item' do %>
                  <div class="media-left">
                    <%= background_image_div(membership.person, :small_thumb, {class: 'media-object img-circle', style: 'height:50px;width:50px; background-position:center;'}) %>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><%= membership.person.name %></h5>
                    <span class="text-muted"><%= membership.role %></span>
                  </div>
                  <div class="media-right">
                    <%= content_tag :span, fa_icon('universal-access'), data: {toggle: "tooltip", placement: "left"}, title: "Team administrator" if membership.role == 'Admin' %>
                  </div>
                <% end %>      
              <% end %>
            </div>
          <% end %>
        </div>
      <% end if @organization.memberships.any? %>

      <h4 class="subhead --spacious">
        About
        <%= link_to fa_icon('question-circle'), 'javascript:void(0)', 
          rel: 'popover',
          class: 'pull-right',
          data: { 
            toggle: "popover", 
            placement: "left",
            trigger: 'focus',
            container: 'body',
            html: true,
            title: 'Was ist eine Organization?',
            content: "Oranisationen oder Teams zeichnen sich durch ein gemeinsames Interesse aus. Weitere Informationen
              finden Sie unter #{link_to 'settings organizations', settings_organizations_path}" }
        %>
      </h4>
      <%= content_tag :div, markdown(@organization.description), id: 'organizations-description' %>





  </div>
</div>
<% end %>