<% title @organization.name, false %>

<% content_for :container do %>
  <div class="row">
    <div class="col-md-5 --spacious">
      <%= render 'organizations/organization', organization: @organization, banner: true, actions: true, no_description: true %>
      <div class="list-group-menu --spacious">
        <%= link_to namespace_repositories_path(@organization.namespace), class: 'list-group-item' do %>
          <%= fa_icon('angle-double-right', text: 'Repositories') %>
          <%= content_tag :span, @organization.namespace.repositories.count, class: 'badge' %>
        <% end %>
        <%= link_to namespace_vocab_schemes_path(@organization.namespace), class: 'list-group-item' do %>
          <%= fa_icon('angle-double-right', text: 'Vocabularies') %>
          <%= content_tag :span, @organization.namespace.schemes.count, class: 'badge' %>
        <% end %>
        <%= link_to namespace_members_path(@organization.namespace), class: 'list-group-item' do %>
          <%= fa_icon('angle-double-right', text: 'People') %>
          <%= content_tag :span, @organization.memberships.count, class: 'badge' %>
        <% end %>
        <%= link_to namespace_applications_path(@organization.namespace), class: 'list-group-item' do %>
          <%= fa_icon('angle-double-right', text: 'Applications') %>
          <%= content_tag :span, @organization.oauth_accessibilities.count, class: 'badge' %>
        <% end %>
      </div>
      <%= content_tag :div, class: "--spacious row" do %>
        <div class="col-md-12 org-top-repos repos">
          <h4 class="--spacing-20">
            <%= link_to namespace_repositories_path(@organization.namespace), style: 'color: #586069;' do %>
              Repositories
            <% end %>
          </h4>
          <%= render @organization.namespace.repositories.limit(3) %>
        </div>
      <% end if @organization.namespace.repositories.any? %>
      <div class="--spacious row">
        <div class="col-md-8 member-avatar-group">
          <h4>
            <%= link_to namespace_members_path(@organization.namespace), style: 'color: #586069;' do %>
              People
              <%= content_tag :span, @organization.memberships.count, class: 'pull-right no-link' %>
            <% end %>
          </h4>
          <% @organization.members.limit(10).each do |member| %>
            <%= link_to(background_image_div(member, :small_thumb, {class: 'organization-member-avatar'}), member.namespace, title: member.name, data: {toggle: "tooltip", placement: "bottom"}) %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="subhead --spacious">
        About
        <%= link_to fa_icon('question-circle'), 'javascript:void(0)', 
          rel: 'popover',
          class: 'pull-right',
          data: { 
            toggle: "popover", 
            placement: "left",
            trigger: 'focus',
            container: 'body',
            html: true,
            title: 'Was ist eine Organization?',
            content: "Oranisationen oder Teams zeichnen sich durch ein gemeinsames Interesse aus. Weitere Informationen
              finden Sie unter #{link_to 'settings organizations', settings_organizations_path}" }
        %>
      </h4>
      <%= content_tag :div, markdown(@organization.description), id: 'organizations-description' %>
    </div>
  </div>
</div>
<% end %>