<%= content_for(:container) do %>
  <%= simple_form_for @page do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.error_notification %>
    
        <div class="row">
          <%= content_tag :div, class: "col-md-12" do %>

            <div class="form-inputs">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :title %>
                  <%= f.input :category_id, collection: CMS::HelpCategory.all, label_method: :name, value_method: :id %>
                  <%= f.input :parent_id, label: 'Subentry to', collection: CMS::HelpPage.all-f.object.self_and_descendants, label_method: :title, value_method: :id %>
                </div>
                <div class="col-md-5 col-md-offset-1">
                  <%= f.input :abstract, as: :text, input_html: {id: 'help_abstract', class: '', rows: '4'}, hint: "Shouldn't be longer than 20 words." %>
                </div>
              </div>
              <%= f.input :content, input_html: {id: 'blog_content', class: '', rows: '16', data: {provide: "markdown"}}, hint: "Check #{link_to('adam-p Markdown-Cheatsheet', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: :blank)} on github.".html_safe %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <hr>
            <%= f.button :submit, class: "btn btn-primary" %>
            <%= link_to 'Cancel', @page.new_record? ? cms_help_pages_path : @page, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>