<div class="nested-fields label-fields">
  <%= f.input :creator_id, input_html: { value: (f.object.new_record? ? current_user.id : f.object.creator_id) }, as: :hidden %>
  <div class="col-md-1">
  </div>
    <div class="col-md-11">
    <div class="row border-left">
      <div class="col-md-6">
        <%= f.input :body, label: 'Term' %>
        <%= f.input :type, collection: Vocab::Label.types, selected: (f.object.new_record? ? 'Preferred' : f.object.type) %>
        <%= f.input :language, collection: LanguageList::COMMON_LANGUAGES, 
          selected: f.object.new_record? ? LanguageList::LanguageInfo.find(browser.accept_language.first.code) : f.object.language %>
      </div>
      <div class="col-md-6">
        <%= f.input :vernacular, collection: Vocab::Label.vernaculars, selected: (f.object.new_record? ? 'Undetermined' : f.object.vernacular) %>
        <%= f.input :historical, collection: Vocab::Label.historicals, selected: (f.object.new_record? ? 'Current' : f.object.historical) %>
        <%= f.input :is_abbrevation, as: :boolean, label: 'Abbrev.' %>
      </div>
      <div class="col-md-12">
         <%= content_tag :span, link_to_remove_association(fa_icon('trash', text: 'Delete'), f, class: 'btn btn-default btn-sm'), class: 'pull-right' %>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>