<div class="nested-fields match-fields form-inline">
  <% if f.object.new_record? %>
    <%= f.input :associated_concept, 
      as: :select, 
      collection: [],
      input_html: {
        id: 'concept_matches_associatable' }, 
      label: false if f.object.new_record? %>
    <%= f.input :property, label: false, collection: Vocab::AssociativeRelation.properties  %>
    <%= link_to_remove_association fa_icon('trash'), f, class: 'btn btn-default btn-sm' %>
  <% else %>
    <%= link_to f.object.associatable.name, f.object.associatable.uri %>
    <%= f.object.property %>
    <%= link_to_remove_association fa_icon('trash'), f, class: '' %>
  <% end %>
</div>