<% title "Concepts" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to(@namespace.name, @namespace) %>
  <%= content_tag :li, link_to('Vocabularies', namespace_vocab_schemes_path(@namespace)) %>
  <%= content_tag :li, link_to(@scheme.title, namespace_vocab_scheme_path(@namespace, @scheme)) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 main">
        <table class="table table-simple">
          <thead>
          </thead>
          <tbody>
            <%= render partial: 'vocab/concepts/concept_tree', collection: @concepts, locals: { depth: 1 }, as: :concept %>
          </tbody>
        </table>
      </div>
      <%= content_tag :div, class: 'col-md-3 col-md-offset-1 sidebar' do %>
        <div class="list-group">
          <%= link_to fa_icon('angle-up', text: @scheme.title), namespace_vocab_scheme_path(@namespace, @scheme), class: 'list-group-item' %>
          <%= link_to fa_icon('plus', text: 'New concept'), [:new, @namespace, :vocab, @scheme, :concept], class: 'list-group-item' if can? :create, @scheme.concepts.build %>
          <%= link_to fa_icon('plus', text: 'New collection'), [:new, @namespace, :vocab, @scheme, :concept, type: 'Collection'], class: 'list-group-item' if can? :create, @scheme.concepts.build %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>