<% title @concept.name(@language) %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to(@namespace.name, @namespace) %>
  <%= content_tag :li, link_to('Vocabularies', namespace_vocab_schemes_path(@namespace)) %>
  <%= content_tag :li, link_to(@scheme.title, namespace_vocab_scheme_path(@namespace, @scheme)) %>
  <%= content_tag :li, link_to('Concepts', namespace_vocab_scheme_concepts_path(@namespace, @scheme)) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<% content_for :container do %>
  <div class="vocab">
    <div class="row --spacious">

      <div class="col-md-9 main">
        <div class="row">
          <div class="col-md-6">
            <h4 class='subhead'>Hierarchies</h4>
            <% (@concept.root? ? [@concept] : @concept.ancestors.roots).each do |croot| %>
              <table class="table table-simple">
                <thead>
                </thead>
                <tbody>
                  <%= render partial: 'vocab/concepts/concept_tree', collection: [croot], locals: { depth: 1 }, as: :concept %>
            

                </tbody>
              </table>
            <% end %>
            <div id='related-matches'>
              <div id="matches">
                <h4 class='subhead --spacious'>Related matches</h4>
                <div class="list-group">
                  <% @concept.matches.each do |match| %>
                    <%= link_to match.associatable.try(:uri), class: 'list-group-item' do %>
                      <%= content_tag :span, match.associatable.try(:name), class: 'text-strong' %>
                      <%= content_tag :span, "(#{match.associatable.try(:uri)})", class: 'text-small' %>
                      <%= content_tag :span, match.property, class: 'text-italic' %> 
                    <% end %>
                  <% end %>
                </div>
                <%= content_tag :div do %>
                  <h5 class="subhead">Backlinks</h5>
                  <div class="list-group">
                    <% @concept.object_matches.each do |match| %>
                      <%= link_to match.concept.uri, class: 'list-group-item' do %>
                        <%= content_tag :span, match.concept.name, class: 'text-strong' %>
                        <%= content_tag :span, "(#{match.associatable.uri})", class: 'text-small' %>
                        <%= content_tag :span, match.property, class: 'text-italic' %> 
                      <% end %>
                    <% end %>
                  </div>
                <% end if @concept.object_matches.any? %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>
              Label: <%= content_tag :strong, @concept.name %><br>
              <small>ID: <%= @concept.uuid %></small>
            </h4>
            <p><span class="text-strong">Typ: </span><%= @concept.type %></p>
            <div id='definition'>
              <h4 class='subhead --spacious'>Definition</h4>
              <%= @definition.try(:body) %>
            </div>
          </div>
        </div>
        <div class="row --spacious">
          <div class="col-md-12">
            <h4 class='subhead --spacious'>Terms</h4>
            <ul class="list-unstyled">
              <% @concept.labels.each do |label| %>
                <%= content_tag :li do %>
                  <%= content_tag :span, label.body, class: 'text-strong' %>
                  (
                    <%= content_tag :span, 'Preferred, ' if label.type == 'Preferred' && !label.is_abbrevation?  %>
                    <%= content_tag :span, label.language %>
                  )
                <% end %>
              <% end %>
            </ul>
            <h4 class='subhead --spacious'>Additional notes</h4>
            <% @other_definitions.each do |definition| %>
              <%= content_tag :p do %>
                <%= content_tag :span, '['+definition.language+']... ' %>
                <%= content_tag :span, definition.body %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= content_tag :div, class: 'col-md-3 sidebar' do %>
        <div class="list-group" id="actions">
          <%= link_to fa_icon('angle-up', text: "#{@concept.scheme.title} concepts"), namespace_vocab_scheme_concepts_path(@namespace, @concept.scheme), class: 'list-group-item' %>
          <%= link_to fa_icon('edit', text: 'Edit'), [:edit, @namespace, :vocab, @concept.scheme, @concept], class: 'list-group-item' if can?(:update, @concept) %>
          <%= link_to fa_icon('trash', text: 'Delete'), [@namespace, :vocab, @concept.scheme, @concept], method: :delete, data: { confirm: 'Are you sure?' }, class: 'list-group-item' if can?(:destroy, @concept) %>
          <%= link_to fa_icon('plus', text: 'Create narrower concept'), new_namespace_vocab_scheme_concept_path(@namespace, @concept.scheme, broader_concept: @concept), class: 'list-group-item' if can?(:create, @scheme.concepts.build) %>
          
        </div>
        <div class="list-group" id="representations">
          <h4 class="--spacious">Representations</h4>
          <%= link_to fa_icon('link', text: 'HTML'), [@namespace, :vocab, @concept.scheme, @concept, format: :html], class: 'list-group-item' %>
          <%= link_to fa_icon('link', text: 'JSON'), [@namespace, :vocab, @concept.scheme, @concept, format: :json], class: 'list-group-item disabled' %>
          <%= link_to fa_icon('link', text: 'RDF/XML'), [@namespace, :vocab, @concept.scheme, @concept, format: :rdf], class: 'list-group-item disabled' %>
          <%= link_to fa_icon('link', text: 'RDF/TURTLE'), [@namespace, :vocab, @concept.scheme, @concept, format: :ttl], class: 'list-group-item disabled' %>
          <%= link_to fa_icon('link', text: 'RDF/NTRIPLES'), [@namespace, :vocab, @concept.scheme, @concept, format: :nt], class: 'list-group-item disabled' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>