<% title t('doorkeeper.authorized_applications.index.title'), false %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<main role="main">
  <div class="page-header" style="margin-top:0px;">
    <h3 style="margin-top:0px;">
      <%= yield(:title) %>
    </h3>
    <p class="text-gray">Applications listed here are authorized to access your account.</p>
  </div>
  <table class="table table-simple">
    <thead>
    <tr>
      <th style="width: 70%;"><%= t('doorkeeper.authorized_applications.index.application') %></th>
      <th><%= t('doorkeeper.authorized_applications.index.created_at') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td>
          <strong><%= link_to application.name, oauth_application_path(application) %></strong>
          <%= content_tag :p, truncate(application.description, length: 200), class: 'text-muted text-small' if application.description? %>
          <%= content_tag :p, "Owner: #{application.owner.try(:name)}", class: 'text-muted text-small' %>        
        </td>
        <td>
          <%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %>
        </td>
        <td><%= render 'delete_form', application: application %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>
