<div class="row">
  <div class="col-md-8">
    <h3>
      <%= in_proceeding.title %><br>
      <small>by <%= in_proceeding.authors.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ').html_safe %> <%= in_proceeding.year %> <%= '(' + in_proceeding.month + ')' if in_proceeding.month.present? %></small>
    </h3>
    <ul class="list-unstyled">
        <%= content_tag :li, book_for(in_proceeding) %> 
        <%= content_tag :li, "Pages: #{in_proceeding.pages}" if in_proceeding.pages.present? %>     
        <%= content_tag :li, doi_url(in_proceeding), class: 'text-small' if in_proceeding.doi || in_proceeding.url %>
    </ul>
    <%= content_tag :p, class: "text-gray" do %>
      <%= content_tag :span, 'Note: ', class: 'text-strong' %> <%= in_proceeding.note %>
    <% end if in_proceeding.note.present? %>

    <%= in_proceeding.tag_list.map{|tag| content_tag(:span, tag, class: 'label label-default')}.join(' ').html_safe %>
  </div>
  <div class="col-md-4">
    <%= render 'biblio/referencations/add_repository', entry: in_proceeding %>
    <%= in_proceeding.repositories.map{|repo| content_tag(:span, link_to(repo.name, namespace_repository_biblio_references_path(repo.owner, repo), style: 'color: white;'), class: 'label label-default')}.join(' ').html_safe %>
  </div>
</div>

<%= content_for :contents do %>
  <div class='in_proceeding-contents'>
    <div class="row">
      <div class="col-md-7">
        <p class="text-gray text-small">
          <%= format_citation(in_proceeding) %>
        </p>
        <%= content_tag :p, in_proceeding.abstract %>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= content_tag :pre, in_proceeding.to_bib, style: 'font-size:smaller;' %>
      </div>
    </div>
  </div>
<% end %>