<% content_for :container do %>
  <div class="wrapper biblio">
    <div class="row --spacing-20 --spacious-10">
      <div class="col-md-9 col-xs-7">
        <%= content_tag :h4, class: '' do %>
          <%= link_to 'Bibliographic references', biblio_entries_path %>
        <% end %>
      </div>
      <div class="col-md-3 col-xs-5">
        <%= content_tag :p, 'Add references through personal or group repositories.', class: 'text-muted text-small text-right' if current_person %>
      </div>
    </div>

    <div class="row">
      <%= content_tag :div, class: 'col-md-4 col-md-push-8 sidebar' do %>
        <div class="biblio-search clearfix">
          <%= form_tag biblio_entries_path, method: :get, class: "" do %>
            <%= search_field_tag 'q', params[:q], placeholder: "Search for references ...", class: "form-control", autofocus: true %>
            <%= select_tag 'sorted_by', options_for_select(Biblio::Entry.options_for_sorted_by, params[:sorted_by]), style: 'width:50%;', class: 'pull-right form-control --spacing-10', onchange: "this.form.submit()" %>
          <% end %>
          <%= content_tag :div, class: 'links --spacious-10' do %>
            <%= content_tag :span, 'Total: '+ @entries.count.to_s, class: 'text-small' %> - 
            <%= link_to('View all', biblio_entries_path, class: 'text-small') %>
            <%= content_tag :p, 'Results: '+@results.total_entries.to_s, class: 'text-small text-muted' if params[:q].present? %>
          <% end %>
        </div>
        <%= content_tag :div, class: "list-group hidden-sm hidden-xs --spacious-20" do %>
          <%= link_to 'Journals', biblio_journals_path, class: 'list-group-item' %>
          <%= link_to 'Series', biblio_series_path, class: 'list-group-item' %>
        <% end %>

        <p class="text-small text-grey --spacious-20">
          Die projektübergreifende Bibliographie entwickelt sich mit den Projektbibliographien.  
          Hinweise, Ergänzungen, sowie Berichtigungen werden dankbar entgegengenommen.
        </p>

        <h4 class="subhead --spacious">Filter</h4>
        <% @results.aggs.each do |k,v| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= content_tag :span, k.capitalize.pluralize, class: 'text-strong text-gray' %>
            </div>
            <ul class="list-group">
            <% v['buckets'].take(5).each do |entry| %>
              <%= content_tag :li, class: 'list-group-item' do %>
                <%= content_tag :span, link_to(entry['key'], biblio_entries_path(q: "#{params[:q]} #{k}:#{'"'+entry['key']+'"'}") ) %>
                <%= content_tag :span, entry['doc_count'], class: 'badge' %>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <% end %>

      <div class="col-md-8 col-md-pull-4 main">
        <div id='entries'>
          <table class="table table-simple">
            <tbody>
              <%= render @results, actions: true %>
            </tbody>
          </table>
        </div>
        <div id="pagination-results">
          <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
        </div>

        <%= content_tag :div, link_to('Get an overview.', biblio_path, class: 'text-small'), class: 'links --spacious-10' %>

        <%= content_tag :div, class: 'hint text-muted text-small --spacious-20' do %>
          <p>The default size of results per page is 50. You can change this and the citations format on your 
          <%= link_to 'settings pages', settings_path %>.</p>
        <% end if user_signed_in? %>
      </div>
    </div>
  </div>
<% end %>