<div class="media" id="full-discussion-event-<%= state.created_at %>" style="overflow: visible;">
  <div class="media-left">
    <div style="width: 50px;", class: 'placeholder'></div>
  </div>
  <div class="media-body" id="discussion-event-<%= state.created_at %>" style="overflow: visible;">
    <% if state.content == 'open' %>
      <%= fa_stacked_icon('exclamation', base: "circle-o", class: 'text-small pull-left', style: 'font-size:.7em;margin-left:10px;') %>
      <div style="margin-left:40px;">
        <%= link_to background_image_div(state.setter, :small_thumb, {class: 'media-object organization-member-avatar', style: 'height:20px;width:20px; background-position:center;'}), state.setter.namespace %>
        <%= content_tag :span, state.setter.name, class: 'text-strong' %>
        <%= content_tag :span, 'reopend' %> this 
        <%= content_tag :span, "#{distance_of_time_in_words(state.created_at, Time.now)} ago", title: state.created_at %>
      </div>
    <% elsif state.content == 'close' %>
      <%= fa_stacked_icon('check', base: "circle-o", class: 'text-small pull-left', style: 'font-size:.7em;margin-left:10px;') %>
      <div style="margin-left:40px;">
        <%= link_to background_image_div(state.setter, :small_thumb, {class: 'media-object organization-member-avatar', style: 'height:20px;width:20px; background-position:center;'}), state.setter.namespace %>
        <%= content_tag :span, state.setter.name, class: 'text-strong' %>
        <%= content_tag :span, 'closed' %> this 
        on <%= content_tag :span, state.created_at.to_date.to_formatted_s(:long), title: state.created_at %>
      </div>
    <% elsif state.content == 'lock' %>
      <%= fa_stacked_icon('times', base: "circle-o", class: 'text-small pull-left', style: 'font-size:.7em;margin-left:10px;') %>
      <div style="margin-left:40px;">
        this was locked
        on <%= content_tag :span, state.created_at.to_date.to_formatted_s(:long), title: state.created_at %>
      </div>
    <% elsif state.content == 'unlock' %>
      <%= fa_stacked_icon('check', base: "circle-o", class: 'text-small pull-left', style: 'font-size:.7em;margin-left:10px;') %>
      <div style="margin-left:40px;">
        this was unlocked
        on <%= content_tag :span, state.created_at.to_date.to_formatted_s(:long), title: state.created_at %>
      </div>
    <% end %>
  </div>
</div>