<%= content_for(:container) do %>
  <%= simple_form_for @blog do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.error_notification %>
    
        <div class="row">
          <%= content_tag :div, class: "col-md-12" do %>

            <div class="form-inputs">
              <%= f.input :title %>
              <%= f.input :category_id, collection: CMS::BlogCategory.all, label_method: :name, value_method: :id %>
              <%= f.input :featured, as: :boolean %>
              <%= f.input :content, input_html: {id: 'blog_content', class: '', rows: '14', data: {provide: "markdown"}}, hint: "Check #{link_to('adam-p Markdown-Cheatsheet', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', target: :blank)} on github.".html_safe %>

            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <hr>
            <%= content_tag :p, fa_icon('check', text: 'Published'), class: 'text-success' if @blog.published? %>
            <%= f.button :submit, @blog.published? ? 'Save changes' : 'Publish now', class: "btn btn-default text-success text-strong" %>
            <%= f.button :submit, 'Save / publish later', class: "btn btn-default text-success text-strong" if !blog.published? %>
            <%= link_to 'Cancel', @blog.new_record? ? cms_blog_pages_path : @blog, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
