<%= simple_form_for(@application) do |f| %>
  
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
  
      <div class="row">
        <%= content_tag :div, class: "col-md-12" do %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :host %>
            <%= f.input :search_url %>
            <%= f.input :description %>
            <%= f.input :provider %>
            <%= f.input :oauth_application_id, 
              collection: Doorkeeper::Application.where(owner: current_user), 
              label_method: :name,
              value_method: :id %>

            <div style="margin: 10px 0;">
              <%= image_tag(@application.image.thumb.url) if @application.image? %>
              <%= f.file_field :image %>
              <%= f.hidden_field :image_cache %>
            </div>
          </div>
        <% end %>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <hr>
          <%= f.submit class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
