<h1>Applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>Search url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.host %></td>
        <td><%= application.search_url %></td>
        <td><%= link_to 'Show', search_application_path(application) %></td>
        <td><%= link_to 'Edit', edit_search_application_path(application) %></td>
        <td><%= link_to 'Destroy', search_application_path(application), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_search_application_path %>
