<% title "Searchable Applications" %>
<p class="text-muted">Applications listet here will offer their data for keywords serach.<p>

<% content_for :buttons do %>
  <%= link_to 'New Application', new_search_application_path, class: 'btn btn-default' %>
<% end if can? :create, Search::Application %>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td>
          <%= link_to application.name.humanize, application %>
          <%= link_to fa_icon('edit'), edit_search_application_path(application) if can? :update, application %>
        </td>
        <td>
          <small>
            <%= application.url %>
          </small>
          <p><%= application.description %></p>
          <small>
            Provider: 
            <%= application.provider %> 
            <%= link_to application.name, application.host, target: :blank %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>