<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>
<p>
  <strong>Host:</strong>
  <%= @application.host %>
</p>
<p>
  <strong>Search url:</strong>
  <%= @application.search_url %>
</p>

<%= link_to 'Edit', edit_search_application_path(@application) %> |
<%= link_to 'Back', search_applications_path %>
