<% title @application.name %>

<% content_for :buttons do %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_search_application_path(@application), class: 'btn btn-default' if can? :update, @application %>
  <%= link_to fa_icon('remove', text: 'Delete'), @application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if can? :destroy, @application %>
<% end %>

<div class="search-application" id="application-<%= @application.id %>">
  <p>
    API: <%= link_to @application.url, @application.url, target: :blank %><br>
    External link: <%= link_to @application.host, @application.host, target: :blank %>
  </p>
  <p>
    <div class="pull-left" style="padding-right: 10px; padding-top: 5px;">
      <%= image_tag @application.image.thumb_medium.url if @application.image? %>
    </div>
    <%= @application.description %><br>
    <strong>Provider: </strong> 
    <%= @application.provider %> <br>
    Connected oauth application: <%= link_to @application.oauth_application.try(:name), oauth_application_path(@application.oauth_application) %> (Owner: <%= @application.oauth_application.try(:owner).try(:display_name) %>) <br>
    Administration/Owner: <%= @application.owner.try(:display_name) %>
  </p>
  <br>
  <%= link_to 'View all searchable applications', search_applications_path %>
</div>

<% content_for :sidebar do %>
  <h4>
    Projects with access
    <%= link_to 'Add Project', new_search_application_accessibility_path(@application), class: 'btn btn-default btn-sm pull-right' if can? :create, Search::Accessibility %>
  </h4>
  <% for accessibility in @application.accessibilities do %>
    <div style="margin-bottom:15px;">
      <h4>
        <%= link_to accessibility.project.name, accessibility.project %>
        <span class="pull-right badge"><%= accessibility.access %></span>
      </h4>
      <p class="small text-muted">
        Created on <%= accessibility.project.created_at.to_formatted_s(:long_ordinal) %>. <%= pluralize( accessibility.project.memberships.count, 'member' ) %>
        <%= link_to fa_icon('remove'), search_application_accessibility_path(@application, accessibility), method: :delete, class: 'pull-right' if can? :destroy, accessibility %>
      </p>
      <p class="">
        <%= truncate(accessibility.project.description, length: 150, separator: ' ', escape: false) %><br>
      </p>
      <hr>
    </div>
  <% end %>

<% end %>