<% title @application.name %>

<% content_for :buttons do %>
  <%= link_to fa_icon('edit', text: 'Edit'), edit_search_application_path(@application), class: 'btn btn-default' if can? :update, @application %>
  <%= link_to fa_icon('remove', text: 'Delete'), @application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if can? :destroy, @application %>
<% end %>

<div class="search-application" id="application-<%= @application.id %>">
  <p>
    <%= @application.url %>
  </p>
  <p>
    <div class="pull-left" style="padding-right: 10px; padding-top: 5px;">
      <%= image_tag @application.image.thumb_medium.url if @application.image? %>
    </div>
    <%= @application.description %><br>
    <strong>Provider: </strong> 
    <%= @application.provider %> 
    <%= link_to @application.name, @application.host, target: :blank %>  
  </p>
  <br>
  <%= link_to 'View all searchable applications', search_applications_path %>
</div>

<% content_for :sidebar do %>
  <h4>
    Projects with access
    <%= link_to 'Add Project', new_search_application_accessibility_path(@application), class: 'btn btn-default btn-sm pull-right' %>
  </h4>
  <%= render partial: 'projects/project', collection: @application.projects %>

<% end %>