<%= simple_form_for @masterthesis, 
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <%= f.input :author_ids, 
    collection: @authors, 
    label_method: :name, 
    value_method: :id, 
    label: 'Authors', 
    selected: @masterthesis.creatorships.map(&:agent_appellation_id), 
    input_html: {
      multiple: true, 
      id: 'creators_names',
      class: 'creators-selectize' #appellations-create-selectize
    } %>
  
  <%= f.input :title, as: :text %>

  <%= f.input :school_id, 
    collection: @schools, 
    label_method: :name, 
    value_method: :id, 
    include_blank: true, 
    label: "School", 
    selected: @masterthesis.school_id, 
    input_html: {
      class: 'appellation-create-selectize'
    } %>

  <%= f.input :year %>
  <%= f.input :month %>

  <hr>

  <%= f.input :place_ids, 
    collection: @toponyms, 
    label_method: :given, 
    value_method: :id, 
    label: 'Places', 
    selected: @masterthesis.place_ids, 
    input_html: {
      multiple: true, 
      id: 'places_names',
      class: 'toponyms-create-selectize'
    } %>
  
  <%= f.input :note %>
  <%= f.input :key %>

  <hr>

  <%= f.input :url %>
  <%= f.input :doi %>
  <%= f.input :abstract, as: :text %>
  
  <hr>

  <%= f.input :tag_list, 
    as: :string,
    input_html: {
      value: f.object.tag_list.join(','),
      id: 'vocab_tag_list' }, 
    label: "Tags <span class='text-muted' style='font-weight:normal;'>(separate with comma)</span>".html_safe,
    hint: 'Add tags to categorize the mastersthesis and make it more discoverable.' %>
  
    <div class="row">
      <div class="col-md-6">
        <hr>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', (@masterthesis.new_record? ? biblio_entries_path : @masterthesis), class: "btn btn-default" %>
      </div>
    </div>

<% end %>

<% content_for :modals do %>
  <%= render 'zensus/appellations/new_modal' %>
<% end %>