<div class="row">
  <div class="col-md-8">
    <h3>
      <%= masterthesis.title %><br>
      <small>by <%= masterthesis.creators_name_list.map{|a| link_to a.name, a.agent ? zensus_agent_path(a.agent) : zensus_name_path(a) }.join(', ').html_safe %> <%= masterthesis.year %> <%= '(' + masterthesis.month + ')' if masterthesis.month.present? %></small>
    </h3>
    <ul class="list-unstyled">
        <%= content_tag :li, "School: #{link_to masterthesis.school.try(:name), zensus_name_path(masterthesis.school)}".html_safe if masterthesis.school.present? %>     
        <%= content_tag :li, "Place: #{places_url(masterthesis)}".html_safe if masterthesis.places.any? %>
        <%= content_tag :li, doi_url(masterthesis), class: 'text-small' if masterthesis.doi || masterthesis.url %>
    </ul>
    <%= content_tag :p, class: "text-gray" do %>
      <%= content_tag :span, 'Note: ', class: 'text-strong' %> <%= masterthesis.note %>
    <% end if masterthesis.note.present? %>

    <%= masterthesis.tag_list.map{|tag| content_tag(:span, tag, class: 'label label-default')}.join(' ').html_safe %>
  </div>
  <div class="col-md-4">
    <%= render 'biblio/referencations/add_repository', entry: masterthesis %>
    <%= masterthesis.repositories.map{|repo| content_tag(:span, link_to(repo.name, namespace_repository_biblio_references_path(repo.owner, repo), style: 'color: white;'), class: 'label label-default')}.join(' ').html_safe %>
  </div>
</div>

<%= content_for :contents do %>
  <div class='masterthesis-contents'>
    <div class="row">
      <div class="col-md-7">
        <p class="text-gray text-small">
          <%= masterthesis.bibliographic(current_user.try(:person).try(:csl), 'en-US') %>
        </p>
        <%= content_tag :p, masterthesis.abstract %>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= content_tag :pre, masterthesis.to_bib, style: 'font-size:smaller;' %>
      </div>
    </div>
  </div>
<% end %>