<p id="notice"><%= notice %></p>

<div>
  <%= render @file_upload %>
</div>

<% @file_upload.references.each do |reference| %>
  <%= reference.inspect %>
<% end %>

<p>by <%= @file_upload.uploader.name %>

<%= link_to 'Remove', raw_file_upload_path(@file_upload), method: :delete, data: { confirm: 'Are you sure?' } %>
