<div class="media comment" id="full-discussion-comment-<%= comment.id %>" style="overflow: visible;">
  <div class="media-left">
    <%= link_to comment.author.try(:namespace) do %>
      <%= background_image_div(comment.author, :small_thumb, {class: 'media-object organization-member-avatar', style: 'height:50px;width:50px; background-position:center;'}) %>
    <% end %>
  </div>
  <div class="media-body panel panel-default" id="discussion-comment-<%= comment.id %>" style="overflow: visible;">
    <div class="panel-heading">
      <div class="panel-heading-left" style="display:inline;">
        <%= content_tag :span, comment.author.name, class: 'text-strong' %>
        <%= content_tag :span, class: 'text-gray' do %>
          commented on <%= link_to comment.created_at.to_date.to_formatted_s(:long), [@namespace, @thread.discussable, :discussion, @thread, anchor: "discussion-comment-#{comment.id}"], title: comment.created_at, class: 'no-link' %>
          <%= content_tag :div, class: "dropdown", style: "display:inline;" do %>
            • 
            <a class="dropdown-toggle no-link" id="comment-options" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              edited
              <%= fa_icon('caret-down') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="comment-options">
              <%= content_tag :li, "Edited #{pluralize(comment.versions_count-1, 'time')}.", class: 'dropdown-header' %>
              <% comment.versions.order(created_at: :desc).each do |version| %>
                <%= content_tag :li, link_to("#{background_image_div(comment.author, :small_thumb, {class: 'media-object organization-member-avatar', style: 'height:20px;width:20px; background-position:center;'})} #{content_tag :span, comment.author.name, class: 'text-strong'} edited #{distance_of_time_in_words(version.created_at, Time.now)} ago#{' (current)' if version == comment.versions.last}".html_safe, ''), class: 'text-small' %>
              <% end %>
            </ul>
          <% end if comment.versions_count > 1 %>
        <% end %>
      </div>
      <div class="panel-heading-right pull-right">
        <%= content_tag :span, comment.author_role, class: 'label label-panel-heading', title: "The person is #{comment.author_role.try(:downcase)} of #{comment.thread.discussable.name}." %>
        <%= content_tag :div, class: "dropdown", style: "display:inline;" do %>
          <a class="dropdown-toggle no-link" id="comment-options" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
          </a>
          <ul class="dropdown-menu" aria-labelledby="comment-options">
            <%= content_tag :li, link_to(fa_icon('edit', text: 'edit'), [:edit, @namespace, @thread.discussable, :discussion, @thread, comment], remote: true) if can?(:update, comment) %>
            <%= content_tag :li, link_to(fa_icon('times', text: 'remove'), [@namespace, @thread.discussable, :discussion, @thread, comment], method: :delete, remote: true, data: { confirm: 'Are you sure?' }) if can?(:destroy, comment) %>
          </ul>
        <% end if can?(:destroy, comment) || can?(:update, comment) %>
      </div>
    </div>
    <div class="panel-body">
      <%= commentify(comment.current_body) %>
      <%= comment.files.inspect %>
    </div>
  </div>
</div>