<div class="media" id="edit-discussion-comment-<%= comment.id %>">
  <div class="media-left">
    <%= link_to current_user.person.namespace do %>
      <%= background_image_div(current_user.person, :small_thumb, {class: 'media-object organization-member-avatar', style: 'height:50px;width:50px; background-position:center;'}) %>
    <% end %>
  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for [@namespace, @thread.discussable, :discussion, @thread, comment], remote: remote do |f| %>
          <%= f.error_notification %>
          <%= f.simple_fields_for :versions, f.object.versions.last do |v| %>
            <%= v.input :body, label: false, as: :hidden, input_html: { id: 'comment_body' } %>
          <% end %>
          <trix-editor input='comment_body'></trix-editor>
          <div class="actions --spacious-10">
            <%= f.submit 'Update', class: 'btn btn-success pull-right text-strong' %>
            <%= link_to 'Cancel', [@namespace, @thread.discussable, :discussion, @thread], class: 'btn btn-default pull-right', style: 'margin-right:10px;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>