<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'babylon-online.org' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-<%= current_page?(root_url) ? 'custom' : 'default' %> navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'babylon-online.org', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <%= content_tag :p, fa_icon('user', text: "Signed in as #{current_user.try(:name)}"), class: 'navbar-text' if user_signed_in? %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= content_tag :li, link_to('The Babylon Project', '') %>
                <%= content_tag :li, link_to('Ancient Babylon', '') %>
                <%= content_tag :li, link_to('The Koldewey Excavations', '') %>
                <%= content_tag :li, link_to('Babylon at the VAM', '') %>
                <%= content_tag :li, link_to('Myth and Reality', '') %>
                <li role="separator" class="divider"></li>
                <%= content_tag :li, link_to('All postings in this section', '') %>
              </ul>
            </li>

            <li><%= link_to 'Explore', explore_path %></li>
            <li><%= link_to 'News', '' %></li>
            <li><%= link_to fa_icon('search'), search_path %></li>
          </ul>        
        </div>
      </div>
    </nav>
    
    <% if current_page?(root_url) %>
      <%= yield %>
    <% else %>
      <div class="container-fluid" style="margin-top: 60px;">
        <div class="row">
          <div class="col-sm-7 col-md-8 main">
            <%= content_tag :div, class: "page-header" do %>
              <h1 class="">
                <%= yield(:title) if content_for?(:title) %>
                <div class="pull-right">
                  <%= yield(:buttons) if content_for?(:buttons) %>
                </div>
              </h1>
            <% end if content_for?(:buttons) || content_for?(:title) %>
          
            <%= content_tag :div, class: 'row' do %>
              <div class="col-md-12">
                <%= render "shared/notification" %>
              </div>
            <% end if alert || notice %>
            
            <%= yield %>
          </div>
          <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 sidebar">
            <% if content_for?(:sidebar) %>
              <%= yield(:sidebar) %>
            <% else %>
              <p>Sidebar - related & Filter?</p>
            <% end %>
          </div>
        </div>
      </div>
      
      
    <% end %>


    <footer class="footer" style="margin-top:60px;">
      <nav class="navbar navbar-bottom">
        <div class="container-fluid">  
          
          <div>
            <ul class="nav navbar-nav"> 
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Imprint", imprint_path %></li>
              <li><%= link_to "API", api_path %></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><%= link_to "Settings", edit_user_registration_path %></li>      
                <li><%= link_to fa_icon('signout', text: "Sign Out"), destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to fa_icon('signin', text: "Sign in"), new_user_session_path %></li>
              <% end %>
            </ul>            
          </div>        
        </div>
      </nav>
    </footer>

  </body>
</html>
