<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'babylon-online.org' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#252e39",
            "text": "#fff"
          },
          "button": {
            "background": "#0366d6"
          }
        },
        "theme": "classic",
        "content": {
          "href": '<%= cms_help_category_url('site') %>'
        }
      })});
    </script>
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-<%= current_page?(root_url) ? 'custom' : 'default' %> navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" style="border: none; margin-top: 0; margin-bottom: 0;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <%= fa_icon('bars 2x') %>
          </button>
          <%= link_to 'babylon-online.org', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= content_tag :ul, class: "nav navbar-nav navbar-right" do %>
            <li><%= link_to 'Explore', explore_path %></li>
            <li><%= link_to fa_icon('search', text: 'Search'), search_path %></li>
            <%= content_tag :li, class: "dropdown" do %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% CMS::BlogPage.type_details_where(featured: true).order(created_at: :desc).limit(5).pluck(:slug, :title).each do |page| %>
                  <%= content_tag :li, link_to(page.last, cms_blog_page_path(page.first)) %>
                <% end %>
                <li role="separator" class="divider"></li>
                <%= content_tag :li, link_to('All postings in this section', cms_blog_pages_path) %>
              </ul>
            <% end %>
            <li><%= link_to 'News', cms_novelities_path %></li>
            <% if user_signed_in? %>
              <%= content_tag :li, class: "dropdown" do %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= background_image_div(current_user.profile, :small_thumb, {class: 'site-user-avatar'}) %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= content_tag :li, "Signed in as <strong>#{current_user.name}</strong>".html_safe, class: 'text-muted dropdown-header' %>
                  <li role="separator" class="divider"></li>
                  <%= content_tag :li, link_to("Your profile", (current_user.profile ? current_user.profile : new_profile_path)), class: "" %>
                  <li role="separator" class="divider"></li>
                  <%= content_tag :li, link_to("Help", cms_help_pages_path), class: "" %>
                  <%= content_tag :li, link_to("Settings", settings_path), class: "" if can?(:show, current_user) %>
                  <%= content_tag :li, link_to("Sign Out", destroy_user_session_path, method: :delete) %>
                </ul>
              <% end %>
             <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          <% end %>        
        </div>
      </div>
    </nav>

    <% flash.each do |message_type, message| %>
      <%= javascript_tag "toastr['#{ message_type == 'notice' ? 'info' : (message_type == 'alert' ? 'warning' : message_type) }']('#{message}')" %>
    <% end %>

    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% elsif content_for?(:container) && !content_for?(:content) %>
      <div class="container" style="margin-top: 60px;margin-bottom: 100px;">
        <%= content_tag :ol, class: 'breadcrumb' do %>
          <%= yield(:breadcrumbs) %>
        <% end if content_for?(:breadcrumbs) %>
        <%= yield(:container) %>
      </div>
    <% else %>
      <div class="container-fluid" style="margin: 60px 0 100px 0;">
        <%= content_tag :ol, class: 'breadcrumb' do %>
          <%= yield(:breadcrumbs) %>
        <% end if content_for?(:breadcrumbs) %>
        <div class="row">
          <div class="col-sm-7 col-md-8 main">
            <%= content_tag :div, class: "page-header" do %>
              <h1 class="">
                <%= yield(:title) if content_for?(:title) %>
                <div class="pull-right">
                  <%= yield(:buttons) if content_for?(:buttons) %>
                </div>
              </h1>
            <% end if content_for?(:buttons) || content_for?(:title) && @show_title %>
            <%= yield %>
          </div>
          <div class="col-sm-5 col-md-4 sidebar">
            <%= yield(:sidebar) if content_for?(:sidebar) %>
          </div>
        </div>
      </div>
    <% end %>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <ul class="footer-links">
              <span class="footer-links-left">
                <li>&copy; <%= Time.now.strftime("%Y") %> babylon-online.org (v. <%= APP_VERSION %>)</li>
                <li><%= link_to "Terms", cms_help_category_path('site') %></li>
                <li><%= link_to "Security", security_settings_path %></li>
              </span>
              <span class="footer-links-right">
                <li><%= link_to "Help", cms_help_pages_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "API", cms_help_category_path('api') %></li>
                <li><%= link_to "Blog", cms_blog_pages_path %></li>
                <li><%= link_to "About", about_path %></li>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <%= yield(:modals) if content_for?(:modals) %>
  </body>
</html>