<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <%= display_meta_tags site: 'babylon-online.org', reverse: true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#252e39",
            "text": "#fff"
          },
          "button": {
            "background": "#0366d6"
          }
        },
        "theme": "classic",
        "content": {
          "href": '<%= cms_help_category_url('site') %>'
        }
      })});
    </script>
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" style="border: none; margin-top: 0; margin-bottom: 0;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <%= fa_icon('bars 2x') %>
          </button>
          <%= link_to image_tag('logo-babili-inline.png', style: "height:20px;"), root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= content_tag :ul, class: "nav navbar-nav navbar-right" do %>
            <%= content_tag :li do %>
              <%= form_tag search_path, :method => 'get', class: "form-inline" do %>
                <div class="input-group" style="margin-top:8px;margin-left:15px;">
                  <span class="input-group-addon" style="width:38px;">
                    <%= link_to fa_icon('search'), search_path %>
                  </span>
                  <span class="input-group-addon" style="width:38px;">
                    <%= link_to fa_icon('info'), writer_category_help_categories_path %>
                  </span>
                  <%= search_field_tag :q, params[:q], placeholder: "Search by keyword, e.g. Figurine, Koldewey, etc.", class: "form-control", autofocus: false, style: 'width:400px;' %>
                </div>
              <% end %>
            <% end unless current_page?(search_path) %>
            <li><%= link_to 'Explore', explore_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <%= content_tag :li, link_to('Blog', writer_category_blog_threads_path) %>
            <li><%= link_to 'Discussions', discussions_path %></li>
            <% if user_signed_in? %>
              <%= content_tag :li, class: "dropdown" do %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= background_image_div(current_person, :small_thumb, {class: 'site-user-avatar'}) %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <%= content_tag :li, "Signed in as <strong>#{current_person.name}</strong>".html_safe, class: 'text-muted dropdown-header' %>
                  <li role="separator" class="divider"></li>
                  <%= content_tag :li, link_to("Your profile", namespace_path(current_person.namespace)), class: "" %>
                  <%= content_tag :li, link_to("Your discussions", discussions_path(q: "is:open mentions:#{'"'+current_user.person.name+'"'} OR author:#{'"'+current_user.person.name+'"'} OR assignee:#{'"'+current_user.person.name+'"'}")) %>
                  <li role="separator" class="divider"></li>
                  <%= content_tag :li, link_to("Help", writer_category_help_categories_path), class: "" %>
                  <%= content_tag :li, link_to("Settings", settings_path), class: "" if can?(:show, current_user) %>
                  <%= content_tag :li, link_to("Sign Out", destroy_user_session_path, method: :delete) %>
                </ul>
              <% end %>
             <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>

    <% flash.each do |message_type, message| %>
      <%= javascript_tag "toastr['#{ message_type == 'notice' ? 'info' : (message_type == 'alert' ? 'warning' : message_type) }']('#{message}')" %>
    <% end %>

    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% elsif content_for?(:container) && !content_for?(:content) %>
      <div class="container" style="margin-top: 60px;margin-bottom: 100px;">
        <%= content_tag :ol, class: 'breadcrumb' do %>
          <%= yield(:breadcrumbs) %>
        <% end if content_for?(:breadcrumbs) %>
        <%= yield(:container) %>
      </div>
    <% else %>
      <div class="container-fluid" style="margin: 60px 0 100px 0;">
        <%= content_tag :ol, class: 'breadcrumb' do %>
          <%= yield(:breadcrumbs) %>
        <% end if content_for?(:breadcrumbs) %>
        <div class="row">
          <div class="col-sm-7 col-md-8 main">
            <%= yield %>
          </div>
          <div class="col-sm-5 col-md-4 sidebar">
            <%= yield(:sidebar) if content_for?(:sidebar) %>
          </div>
        </div>
      </div>
    <% end %>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; <%= Time.now.strftime("%Y") %> babili.babylon-online.org (v. <%= APP_VERSION %> | ruby <%= RUBY_VERSION %>, rails <%= Rails.version %>)</p>
            <ul class="footer-links">
              <span class="footer-links-left">
                <li><%= link_to "Licensing", 'http://babylon-online.org/help/articles/licensing' %></li>
                <li><%= link_to "Security", settings_security_path %></li>
              </span>
              <span class="footer-links-right">
                <li><%= link_to "Help", writer_category_help_categories_path %></li>
                <li><%= link_to "Sitemap", 'http://babylon-online.org/help/articles/sitemap' %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "API", writer_category_developer_tree_items_path %></li>
                <li><%= link_to "Blog", writer_category_blog_threads_path %></li>
                <li><%= link_to "About", about_path %></li>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <%= yield(:modals) if content_for?(:modals) %>
  </body>
</html>
