<% content_for :content do %>
  <div class="container" style="margin: 60px auto 100px auto;">
    <%= content_tag :ol, class: 'breadcrumb' do %>
      <%= content_tag :li, link_to('Settings', settings_path) %>
      <%= yield(:breadcrumbs) %>
    <% end if content_for?(:breadcrumbs) %>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading text-strong"><span class="text-muted">Personal Settings</span></div>
          <div class="list-group">
            <%= link_to 'Profile', edit_settings_person_path, class: "list-group-item #{'active text-strong' if current_page?(edit_settings_person_path)}" %>
            <%= link_to 'Acccount', account_path, class: "list-group-item #{'active text-strong' if current_page?(account_path)}" %>
            <%= link_to 'Notifications', account_path, class: "list-group-item disabled" %>
            <%= link_to 'Repositories', settings_oread_enrollments_path, class: "list-group-item #{'active text-strong' if current_page?(settings_oread_enrollments_path)}" %>
            <%= link_to 'Teams', settings_organizations_path, class: "list-group-item #{'active text-strong' if current_page?(settings_organizations_path)}" %>
            <%= link_to 'Security', settings_security_path, class: "list-group-item  #{'active text-strong' if current_page?(settings_security_path)}" %>
            <%= link_to 'Applications', oauth_authorized_applications_path, class: "list-group-item #{'active text-strong' if current_page?(oauth_authorized_applications_path)}" %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="list-group">
            <%= link_to 'Admin', admin_settings_path, class: "list-group-item #{'active text-strong' if current_page?(admin_settings_path)}" if current_user.is_admin? %>
            <%= link_to 'Developer', developer_settings_path, class: "list-group-item #{'active text-strong' if current_page?(developer_settings_path)}" %>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <%= content_tag :div, class: 'page-header', style: 'margin-top:0px;' do %>
          <%= content_tag :h3, style: 'margin-top:0px;' do %>
            <%= yield(:title) %>
            <%= content_tag :span, yield(:buttons), class: 'pull-right', style: 'margin-top:-5px;' %>
          <% end %>
        <% end if content_for?(:title) && @show_title %>
        <% if content_for?(:sidebar) %>
          <div class="row">
            <div class="col-md-9">
              <%= yield %>
            </div>
            <div class="col-md-3">
              <%= yield(:sidebar) %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>